@model CalendarViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using HtmlTags

@{ Layout = "~/Views/Shared/_layout.cshtml"; }
@section ExtraCss{
    @MvcHtmlString.Create(CSS("fullcalendar.css").ToString())
}
@section HeaderScripts{
    @MvcHtmlString.Create(Script("internalHelpers/jquery.kyt.calendar.js").ToString())
    @MvcHtmlString.Create(Script("kyt.calendar.js").ToString())
    @MvcHtmlString.Create(Script("externalHelpers/fullcalendar.js").ToString())
    @MvcHtmlString.Create(Script("kyt.CalendarView.js").ToString())
    @MvcHtmlString.Create(Script("kyt.EventCalendarController.js").ToString())
}
@section HeaderJavascript{
  var calendarDef=  @MvcHtmlString.Create(JsonUtil.ToJson(Model.CalendarDefinition));
  calendarDef.calendarContainer="#calendar";
  calendarDef.deleteUrl = "@MvcHtmlString.Create(Model.DeleteUrl)"

    $(document).ready(function(){
        new kyt.CalendarController(calendarDef);
    });
}
<div id='calendar'></div>
