@model KnowYourTurf.Web.Models.EquipmentTaskViewModel
@using CC.Core.Html.CCUI
@using KnowYourTurf.Web
@{
    Layout = Model.Popup ? "~/Views/Shared/_popupLayout.cshtml" : "~/Views/Shared/_FormLayout.cshtml";
}


    <div class="col left">
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.TaskTypeEntityId).LabelDisplay(WebLocalizationKeys.TASK_TYPE).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.ScheduledDate).ElType("DateTextbox").ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.StartTime).ElType("TimeTextbox").LabelDisplay(WebLocalizationKeys.SCHEDULED_START_TIME).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.EndTime).ElType("TimeTextbox").LabelDisplay(WebLocalizationKeys.SCHEDULED_END_TIME).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.ActualTimeSpent).InputId("timeSpent").ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.EquipmentEntityId).LabelDisplay(WebLocalizationKeys.EQUIPMENT).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Notes).AddClassToInput("KYT_editor_label_left").ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Complete).ToHtmlTag()
        </div>
    </div>
    <div class="col left clear">
        <div class="fieldRow">
            <div id="employeeTokenizer">
                @Html.SubmissionFor(x => x.Employees).ElType("MultiSelect").LabelDisplay(WebLocalizationKeys.EMPLOYEES).ToHtmlTag()
            </div>
        </div>
        <div class="fieldRow">
            <div id="equipmentTokenizer">
                @Html.SubmissionFor(x => x.Parts).ElType("MultiSelect").LabelDisplay(WebLocalizationKeys.PARTS).ToHtmlTag()
            </div>
        </div>
    </div>
            
@EndForm()


