@model KnowYourTurf.Web.Models.PurchaseOrderLineItemViewModel
@using CC.Core.Html.CCUI
@using KnowYourTurf.Web

@{
    Layout = "";
}
        <div class="KYT_section_header" >
            @MvcHtmlString.Create(WebLocalizationKeys.PURCHASE_ORDER_LIST_ITEM_INFORMATION.ToString())
        </div>
        @MvcHtmlString.Create(Html.HiddenFor(x => x.Item.EntityId, new { @class = "copyEntityId" }).ToString())
            @MvcHtmlString.Create(Html.HiddenFor(x => x.AddUpdateUrl).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Item.Product.Name).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Item.Product.Description).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Item.QuantityOrdered).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Item.SizeOfUnit).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Item.UnitType).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Item.Price).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Item.SubTotal).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Item.Taxable).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Item.Tax).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Item.TotalReceived).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Item.Completed).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Item.DateRecieved).ToString())

