@using HtmlTags
@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web
@using KnowYourTurf.Web.Controllers
@model UserViewModel

@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

@section HeaderJavascript{
        extraFormOptions.availableItems= @MvcHtmlString.Create(JsonUtil.ToJson(Model.AvailableItems));
        extraFormOptions.selectedItems= @MvcHtmlString.Create(JsonUtil.ToJson(Model.SelectedItems));
}

  @MvcHtmlString.Create(FormFor<TrainerController>(x => x.Save(null)).AddClass("CRUD").ElementId("CRUDForm").ToString())
        <input type="hidden" id="EntityId" name="EntityId" value="@Model.User.EntityId">
        <div class="col left">
            <div class="fieldRow">
                <h4>@WebLocalizationKeys.PERSONAL_INFORMATION</h4>
            </div>
            <div class="fieldRow">
                @Html.SubmissionFor(x => x.User.FirstName).AddClassToRoot("two-five first").ToHtmlTag()
                @Html.SubmissionFor(x => x.User.MiddleInitial).LabelDisplay(WebLocalizationKeys.INITIAL).AddClassToRoot("one-five mid").ToHtmlTag()
                @Html.SubmissionFor(x => x.User.LastName).AddClassToRoot("two-five last").ToHtmlTag()
            </div>
            <div class="fieldRow">
                @Html.ViewFor(x => x.User.UserLoginInfo.LoginName).AddClassToRoot("half first").ToHtmlTag()
                @Html.SubmissionFor(x => x.User.BirthDate).AddClassToRoot("half").ToHtmlTag()
            </div>
            <div class="fieldRow">
                @Html.SubmissionFor(x => x.User.Address1).AddClassToRoot("half first").ToHtmlTag()
                @Html.SubmissionFor(x => x.User.Address2).AddClassToRoot("half").ToHtmlTag()
            </div>
            <div class="fieldRow">
                @Html.SubmissionFor(x => x.User.City).AddClassToRoot("half first").ToHtmlTag()
                @Html.SubmissionFor(x => x.User.State).AddClassToRoot("one-quarter").ToHtmlTag()
                @Html.SubmissionFor(x => x.User.ZipCode).AddClassToRoot("one-quarter").ToHtmlTag()
            </div>
            
        </div>
        <div class="col right">
            <div class="fieldRow">
                <h4>@WebLocalizationKeys.PASSWORD</h4>
            </div>
            <div class="fieldRow">
                @Html.SubmissionFor(x => x.Password).InputId("Password").ToHtmlTag()
            </div>
            <div class="fieldRow">
                @Html.SubmissionFor(x => x.PasswordConfirmation).ToHtmlTag()
            </div>
             <div class="fieldRow">
                @Html.SubmissionFor(x => x.User.Email).ToHtmlTag()
            </div>
            <div class="fieldRow">
                @Html.SubmissionFor(x => x.User.PhoneHome).AddClassToRoot("half first").ToHtmlTag()
                @Html.SubmissionFor(x => x.User.PhoneMobile).AddClassToRoot("half").ToHtmlTag()
            </div>
        </div>
        <div class="col full">
            <div class="fieldRow artifact-field">
                <div id="userRoles">
                    <label class="section">@WebLocalizationKeys.USER_ROLES</label>
                    <div id="userRoles" class="dci_assetSection">
                        <div class="instruction" id="hasAssets">@WebLocalizationKeys.SELECT_ONE_OR_MORE_OR.ToString()</div>
                        <input type="text" name="UserRolesInput" id="Input" class="artifact nolabels"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col full">
        @WebLocalizationKeys.SELECT_COLOR_TO_ASSOCIATE_WITH_THIS_PERSON.ToString()
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.User.Color).InputId("color").ToString())
            <div id="colorPicker"></div>
        </div>
     
    @EndForm()