@model WeatherViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web.Controllers
@using KnowYourTurf.Core.Html.Expressions
@{
    Layout = "~/Views/Shared/_popupLayout.cshtml";
}
       
        <div id="puErrorMessages" class="puErrorMessages KYT_errorMessages" ><ul></ul></div>   

            @MvcHtmlString.Create(FormFor<WeatherController>(x=>x.Save(null)).Class("CRUD").ElementId("CRUDForm").ToString())
            @MvcHtmlString.Create(Html.HiddenFor(x => x.Weather.EntityId).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Weather.DewPoint).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Weather.EvaporationRate).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Weather.HighTemperature).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Weather.LowTemperature).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Weather.Humidity).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Weather.RainPrecipitation).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Weather.WindSpeed).ToString())
            @MvcHtmlString.Create(EndForm())

