@model WeatherViewModel
@using CC.Core.Html.CCUI
@using KnowYourTurf.Web.Controllers
@using KnowYourTurf.Core.Html.Expressions
@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

        <div class="row">
            @Html.SubmissionFor(x => x.Item.DewPoint).Size("5").ToHtmlTag()        
            @Html.SubmissionFor(x => x.Item.EvaporationRate).Size("5").ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.Item.HighTemperature).Size("5").ToHtmlTag()
            @Html.SubmissionFor(x => x.Item.LowTemperature).Size("5").ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.Item.Humidity).Size("5").ToHtmlTag()
            @Html.SubmissionFor(x => x.Item.RainPrecipitation).Size("5").ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.Item.WindSpeed).Size("5").ToHtmlTag()
        </div>

