@model WeatherViewModel
@using CC.Core.Html.CCUI
@using KnowYourTurf.Web.Controllers

@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
       
        <div class="row">
            @Html.ViewFor(x => x.Item.Date).Size("5").ToHtmlTag()
            @Html.ViewFor(x => x.Item.DewPoint).Size("5").ToHtmlTag()
        </div>
        <div class="row">
            @Html.ViewFor(x => x.Item.HighTemperature).Size("5").ToHtmlTag()
            @Html.ViewFor(x => x.Item.LowTemperature).Size("5").ToHtmlTag()
        </div>
        <div class="row">
            @Html.ViewFor(x => x.Item.RainPrecipitation).Size("5").ToHtmlTag()
            @Html.ViewFor(x => x.Item.WindSpeed).Size("5").ToHtmlTag()
        </div>
         <div class="row">
            @Html.ViewFor(x => x.Item.Humidity).Size("5").ToHtmlTag()
        </div>


