@model EmailTemplateViewModel
@using CC.Core.Html.CCUI
@using KnowYourTurf.Web.Controllers
@using KnowYourTurf.Core.Html.Expressions

@{
    Layout = "~/Views/Shared/_popupLayout.cshtml";
}
<script>
    extraFormOptions.runAfterRenderFunction = kyt.utilities.tinyMce
</Script>
    <div id="errorMessagesPU" class="mf_ErrorMessages errorMessages"><ul></ul></div>

@MvcHtmlString.Create(FormFor<EmailTemplateController>(x=>x.Save(null)).Class("CRUD").ElementId("CRUDForm").ToString())
@MvcHtmlString.Create(Html.HiddenFor(x => x.EmailTemplate.EntityId).ToString())
    <div class="col left">
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.EmailTemplate.Name).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.EmailTemplate.Description).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.EmailTemplate.Template).InputId("tinyMce").ToHtmlTag()
        </div>
    </div>
@EndForm()

