@using KnowYourTurf.Web
<script>
</Script>
    
    <div class="content-header">
        @RenderSection("ContentHeaderButtons", false)
        <span class="title-name"> @Model.Title</span>
        @if (Model.Item.EntityId > 0)
        {
            <span class="title-added">@WebLocalizationKeys.DATE_ADDED.ToFormat(Model.Item.CreateDate.ToLongDateString())</span>
        }
    </div>
    <div id="contentArea" class="content-inner">
            <div id="validation-container-wrapper">
                <div id="errorMessagesForm" class="kyt_ErrorMessages errorMessages"><ul></ul></div>
            </div>
        <div class="required_style"><span>* @WebLocalizationKeys.REQUIRED</span></div>
            @RenderBody()
            <div class="footer">
                @StandardButtonFor("save", WebLocalizationKeys.SAVE).AddClass("save").ToHtmlTag()
                @StandardButtonFor("cancel", WebLocalizationKeys.CANCEL).AddClass("cancel").ToHtmlTag()
            </div>
    </div>    
    
   