@using KnowYourTurf.Web;
@using HtmlTags

<script>
    @RenderSection("ExtraCss", false)

    @RenderSection("HeaderScripts", false)

    var contentArea;
    var extraFormOptions = { };
        @RenderSection("HeaderJavascript", false)
</script>

   <div class="content-header">
        @RenderSection("ExtraContentHeaderButtons", false)
       <span class="title-name" data-bind="text:_Title"></span>
        <button class="close cancel" title="@WebLocalizationKeys.CLOSE"></button>
        @if (Model.EntityId > 0)
        {
            <span class="title-added">@WebLocalizationKeys.DATE_ADDED.ToFormat(Model.Item.CreateDate.ToLongDateString())</span>
        }
    </div>
    <div id="contentArea" class="content-inner">
        @RenderBody()
        <div class="footer">
            @StandardButtonFor("cancel", WebLocalizationKeys.RETURN).AddClass("cancel").ToHtmlTag()
        </div>
    </div>
