@using KnowYourTurf.Web;
@using HtmlTags

<script>
    @RenderSection("ExtraCss", false)

    @RenderSection("HeaderScripts", false)

    var contentArea;
    var extraFormOptions = { };
        @RenderSection("HeaderJavascript", false)
</script>

   <div class="content-header">
        <span class="title-name">@Model.Title</span>
    </div>
    <div id="contentArea" class="content-inner">
    <div id="errorMessagesForm" class="mf_ErrorMessages errorMessages"><ul></ul></div>
        @RenderBody()
         <div class="footer">
            @StandardButtonFor("cancel", WebLocalizationKeys.RETURN).AddClass("cancel").ToHtmlTag()
         </div>
    </div>
