@using KnowYourTurf.Web;

<script>
    @RenderSection("ExtraCss", false)
    @RenderSection("HeaderScripts", false)
    @RenderSection("HeaderJavascript", false)
</script>


    <div class="content-header">
        @RenderSection("ExtraContentHeaderButtons", false)
        <span class="title-name" data-bind="text:_Title"></span>
        <span class="title-added" data-bind="text:_createdText" ></span>
    </div>
    <div id="contentArea" class="content-inner">
        <div class="form-scroll-inner form">
             <div class="required_style"><span>* @WebLocalizationKeys.REQUIRED</span></div>
             @RenderBody()
             <div class="footer">
             </div>
        </div>
    </div>

