@using FubuMVC.Core.Util
@using KnowYourTurf.Web;
@using HtmlTags

<script>
    @RenderSection("ExtraCss", false)

    @RenderSection("HeaderScripts", false)

    var contentArea;
    var extraFormOptions ={}
        @RenderSection("HeaderJavascript", false)
</script>

   <div class="content-header">
        @RenderSection("ExtraContentHeaderButtons", false)
        <button class="close cancel" title="@WebLocalizationKeys.CLOSE"></button>
        <span class="title-name" data-bind="text:_title"></span>
        <span class="title-added" data-bind="text:_createdText" ></span>
    </div>
    <div id="contentArea" class="content-inner">
        @RenderBody()
        <div class="footer">
            @if (@RenderSection("FormButtons", false) != null)
            {
                @RenderSection("FormButtons", false);
            }
            else
            {
                @StandardButtonFor("save", WebLocalizationKeys.SAVE).AddClass("save").ToHtmlTag()
                @StandardButtonFor("cancel", WebLocalizationKeys.CANCEL).AddClass("cancel").ToHtmlTag()
            }
        </div>
    </div>
