@using Cassette.Views
@using HtmlTags
@using KnowYourTurf.Web

@{
    Bundles.Reference("content/css");
    Bundles.Reference("content/scripts");
}

<!--[if IE]>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!-- [Else]>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- [endif]-->
<html>
<head>
    <title>@ViewBag.Title</title>
    @Bundles.RenderStylesheets()
    @RenderSection("ExtraCss", false)
    
    @Bundles.RenderScripts()
    @RenderSection("HeaderScripts", false)

    <script type="text/javascript">
        KYT.routeTokens = @MvcHtmlString.Create(JsonUtil.ToJson(@Model.SerializedRoutes));
        @RenderSection("HeaderJavascript", false)

    </script>
</head>

    <body id="knowYourTurf" class="kyt_dyn">
        <div id="ajaxLoading" style="z-index: 1000">&nbsp;</div>
        @Html.Action("KnowYourTurfHeader", "Orthogonal")
        <div id="top-separator"></div>
        <div id="main-body">
            <div id="left-navigation" class="menuContainer">
            </div>
            <div id="main-content">
                <div class="content-outer" >
                    <div id="messageContainer">
                    </div>
                    <div id="contentInner">
                        @RenderBody()
                    </div>
                    <div class="content-footer"><span>&nbsp;</span></div>
                </div>

            </div>
        </div>
    </body>

    <script id="gridTemplate" type="text/x-jQuery-tmpl">
        <div class="content-header">
            <input class="search" /> 
            <button style="display:none" id="new" class="new" title="@WebLocalizationKeys.NEW"></button>
            <button style="display:none" class="delete" title="@WebLocalizationKeys.DELETE_ITEMS"></button>
            <span class="title-name">${_Title}</span>
        </div>
        <div class="form-scroll-inner">
            <div id="contentArea" class="content-inner">
                <table id="gridContainer" class="scroll"></table>
            </div>
        </div>
    </script>


</html>
