@using HtmlTags
<!--[if IE]>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!-- [Else]>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- [endif]-->
<html>
<head>
    <title>@ViewBag.Title</title>
    @CSS("jquery-ui-1.8.16.custom.css").ToHtmlTag()
    @CSS("ui.multiselect.css").ToHtmlTag()
    @CSS("fileinput.css").ToHtmlTag()
    @CSS("ui.jqgrid.css").ToHtmlTag()
    <!--[if gt IE 7]>
    @CSS("ie.css").ToHtmlTag()
     <![endif]-->
    @CSS("main.css").ToHtmlTag()
    @CSS("token-input.css").ToHtmlTag()
    @CSS("fg.menu.css").ToHtmlTag()
    @CSS("jquery.cleditor.css").ToHtmlTag()

    @CSS("kyt.css").ToHtmlTag()

    @RenderSection("ExtraCss", false)

    @Script("jqueryPlugins/jquery-1.6.2.min.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery-ui-1.8.16.custom.min.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery.validate.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery.form.2.83.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery.tokeninput.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery.pubsub.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery.cleditor.min.js").ToHtmlTag()

    @Script("jqueryPlugins/jquery.metadata.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery.address-1.4.js").ToHtmlTag()
    @Script("externalHelpers/underscore.js").ToHtmlTag()
    @Script("externalHelpers/backbone.js").ToHtmlTag()
    
    
    @Script("externalHelpers/superfish.js").ToHtmlTag()
    @Script("internalHelpers/cc.ccMenu.js").ToHtmlTag()

    @Script("internalHelpers/cc.utilities.js").ToHtmlTag()
    @Script("internalHelpers/cc.crudForm.js").ToHtmlTag()
    @Script("externalHelpers/json2.js").ToHtmlTag()
    @Script("kyt.baseClass.js").ToHtmlTag()
    @Script("kyt.home.js").ToHtmlTag()
    

    @RenderSection("HeaderScripts", false)


     <script type="text/javascript">
        var entityId = @Model.EntityId ;
        var parentId = @Model.ParentId ;
        var rootId = @Model.RootId ;
        var kytCurrentLocaton;
        var extraFormOptions = {};
        extraFormOptions.crudFormOptions = { };
        
        $(document).ready(function() {
            var options = { el: ".kyt_dyn"};
            new kyt.HomeController(options);
        });
        @RenderSection("HeaderJavascript", false)

        </script>
    </head>

    <body id="portfolios" class="kyt_dyn">
    <div id="ajaxLoading" style="z-index: 1000">&nbsp;</div>
        @Html.Action("KnowYourTurfHeader", "Orthogonal")
        <div id="top-separator"></div>
        <div id="main-body">
            @RenderBody()
        </div>
    </body>

</html>
