@using HtmlTags
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@section ExtraCss {
    @MvcHtmlString.Create(CSS("ui.jqgrid.css").ToString())
    @MvcHtmlString.Create(CSS("token-input.css").ToString())
    @MvcHtmlString.Create(CSS("jquery.miniColors.css").ToString())
    @RenderSection("ExtraCss", false)
}    
@section HeaderScripts{
    @MvcHtmlString.Create(Script("jqueryPlugins/grid.locale-en.js").ToString())
    @MvcHtmlString.Create(Script("jqueryPlugins/jquery.jqGrid.src.js").ToString())
    @MvcHtmlString.Create(Script("internalHelpers/jquery.kyt.grid.js").ToString())
    @MvcHtmlString.Create(Script("jqueryPlugins/jquery.jqPrint.js").ToString())
    @MvcHtmlString.Create(Script("jqueryPlugins/jquery.tokeninput.js").ToString())
    @MvcHtmlString.Create(Script("jqueryPlugins/jquery.miniColors.js").ToString())
    @MvcHtmlString.Create(Script("internalHelpers/kyt.grid.columnService.js").ToString())
    @MvcHtmlString.Create(Script("internalHelpers/kyt.grid.formatters.js").ToString())
    @MvcHtmlString.Create(Script("internalHelpers/kyt.gridHelpers.js").ToString())
    @MvcHtmlString.Create(Script("kyt.popupCrud.js").ToString())

    @MvcHtmlString.Create(Script("kyt.baseClasses.js").ToString())
    @MvcHtmlString.Create(Script("kyt.crudController.js").ToString())
    @MvcHtmlString.Create(Script("kyt.popupDisplayModule.js").ToString())
    @MvcHtmlString.Create(Script("kyt.popupFormModule.js").ToString())
    
    @MvcHtmlString.Create(Script("kyt.GridView.js").ToString())
    @MvcHtmlString.Create(Script("kyt.DisplayView.js").ToString())
    @MvcHtmlString.Create(Script("kyt.FormView.js").ToString())
    @MvcHtmlString.Create(Script("kyt.PopupView.js").ToString())
    @MvcHtmlString.Create(Script("kyt.TokenView.js").ToString())
    
    
    @RenderSection("HeaderScripts", false);

}

@section HeaderJavascript{
    var gridDef=  @MvcHtmlString.Create(JsonUtil.ToJson(Model.ListDefinition))
    var addEditUrl=@MvcHtmlString.Create(JsonUtil.ToJson(Model.AddEditUrl));
    var crudOptions = {
        addEditUrl: addEditUrl,
        gridDef: gridDef
    }
    $(document).ready(function() {
    });
    @RenderSection("HeaderJavascript", false)
}
<div id="masterArea">
    @RenderBody()
</div>