@model HeaderViewModel
@using KnowYourTurf.Core;
@using KnowYourTurf.Core.Html.FubuUI;
@using KnowYourTurf.Web
@using KnowYourTurf.Web.Models

    <div class="KYT_userinfo">
        <div class="KYT_userlinks">
            @if (Model.LoggedIn)
            {
           <p class="KYT_active_username KYT_width100">
                <span> @Model.User.FullName (@Model.User.Company.Name) </span>
           </p>
            <p class="KYT_active_links">
            @Html.HiddenFor(x=>x.InAdminMode)
                @if (Model.IsAdmin && !Model.InAdminMode)
                {
                    <span>@Html.ActionLink(WebLocalizationKeys.ADMIN.ToString(), "TurnOnOffAdmin", "Orthogonal", new { @class = "KYT_whitelink" }, null)</span>
                    <span class="KYT_lightdot">&nbsp; &middot;</span>
                }
                else if (Model.IsAdmin && Model.InAdminMode)
                {
                   <span>@Html.ActionLink(WebLocalizationKeys.HOME.ToString(), "TurnOnOffAdmin", "Orthogonal", new { @class = "KYT_whitelink" }, null)</span>
                    <span class="KYT_lightdot">&nbsp; &middot;</span>
                }
                &nbsp;<a href="#" class="KYT_whitelink">Help</a>
                &nbsp;<span class="KYT_lightdot">&middot;</span>
                &nbsp;<span>@Html.ActionLink(WebLocalizationKeys.LOG_OUT.ToString(), "Logout", "Login", new { @class = "KYT_whitelink" }, null)</span></p>
            }
            else
            {
            <span>@Html.ActionLink(WebLocalizationKeys.LOGIN_KEY.ToString(), "Login", "Login", new { @class = "KYT_whitelink" })</span>
            }
        </div>
         <div class="KYT_useravatar">
            @if (Model.LoggedIn && Model.User.ImageUrl.IsNotEmpty())
            {
                @MvcHtmlString.Create(Html.ViewFor(x => x.User.ImageUrl).HideLabel().AddClassToInput("KYT_addEditImageSmall").AddClassToInput("profileImage").ToString())
            }
            else
            {
                <img src="../../Content/images/avatar.jpg" alt="Dynamically Generated Avatar" />
            }
         </div>
    </div>             
<h1></h1>
