@model TokenViewModel
@using HtmlTags
@using KnowYourTurf.Web
@using KnowYourTurf.Web.Models

<script>
    var availableItemsDocument = @MvcHtmlString.Create(JsonUtil.ToJson(Model.AvailableItems)) ;
    var selectedItemsDocument = @MvcHtmlString.Create(JsonUtil.ToJson(Model.SelectedItems)) ;
    var tooltipAjaxUrl = "@MvcHtmlString.Create(@Model.TooltipAjaxUrl)";
    var extraFormOptions[@Model.Name + "Options"] = { availableItems: availableItemsDocument,
        selectedItems: selectedItemsDocument,
        tooltipAjaxUrl: tooltipAjaxUrl,
        inputSelector:"#"+ @Model.Name +"Input",
        name:"@Model.Name"};
</script>
@{
    var containerId = Model.Name + "TokenContainer";
    var inputId = Model.Name + "Input"
<div id=@containerId>
}
    <div class="instruction" id="noAssets">@WebLocalizationKeys.YOU_HAVE_NOT_ADDED_ANY.ToFormat(@Model.NamePlural)</div>
    <div class="instruction" id="hasAssets">@WebLocalizationKeys.SELECT_ONE_OR_MORE_OR.ToString()</div>
    <button class="plus-rounded marrgin-twenty" id="addNew">@WebLocalizationKeys.ADD_A_NEW.ToFormat(@Model.Name)</button>
    <input type="hidden" name=@inputId  id=inputId class="artifact nolabels" />
</div> 