@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web
@using KnowYourTurf.Web.Areas.Portfolio.Controllers
@using HtmlTags
@model HeaderViewModel
 <script type="text/javascript">
    var titlePopup;
    var notificationSuccessFunction = @MvcHtmlString.Create(JsonUtil.ToJson(Model.NotificationSuccessFunction));
    var notificationSettingsUrl = @MvcHtmlString.Create(JsonUtil.ToJson(Model.NotificationSettingsUrl));
    $(document).ready(function() {
        
    });
    
</script>
            
    <div id="main-header">
         @*<ul id="right-tabs">
              <li id="chart-tab"><a href="">&nbsp;</a></li>
              <li id="group-tab"><a href="">&nbsp;</a></li>
         </ul>
         *@
        <span id="login-links">
        @if (Model.LoggedIn)
            {
            <a href="" class="first" id="userSettings">@Model.User.FullName </a>
            <a href="">Help</a>
            @Html.ActionLink(WebLocalizationKeys.LOG_OUT.ToString(), "Logout", "Login")
            }
        else
        {
                @Html.ActionLink(WebLocalizationKeys.SIGN_IN.ToString(), "Login", "Login")
            }
        </span>
    </div>
