@model KnowYourTurf.Web.Models.FieldDashboardViewModel
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI
@using HtmlTags


@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@section ExtraCss {
    @MvcHtmlString.Create(CSS("ui.jqgrid.css").ToString())
    @MvcHtmlString.Create(CSS("token-input.css").ToString())
    @MvcHtmlString.Create(CSS("svwp_style.css").ToString())
}    
@section HeaderScripts{
    @MvcHtmlString.Create(Script("jqueryPlugins/grid.locale-en.js").ToString())
    @MvcHtmlString.Create(Script("jqueryPlugins/jquery.jqGrid.src.js").ToString())
    @MvcHtmlString.Create(Script("internalHelpers/jquery.kyt.grid.js").ToString())
    @MvcHtmlString.Create(Script("jqueryPlugins/jquery.tokeninput.js").ToString()) 
    @MvcHtmlString.Create(Script("jqueryPlugins/jquery.slideViewerPro.1.5.js").ToString())
    @MvcHtmlString.Create(Script("internalHelpers/kyt.grid.columnService.js").ToString())
    @MvcHtmlString.Create(Script("internalHelpers/kyt.grid.formatters.js").ToString())
    @MvcHtmlString.Create(Script("internalHelpers/kyt.gridHelpers.js").ToString())
    @MvcHtmlString.Create(Script("kyt.popupCrud.js").ToString())
    @MvcHtmlString.Create(Script("kyt.selectBoxPicker.js").ToString())
    @MvcHtmlString.Create(Script("kyt.employeeDashboard.js").ToString())
    @MvcHtmlString.Create(Script("kyt.fieldDashboardController.js").ToString())
    @MvcHtmlString.Create(Script("kyt.DisplayView.js").ToString())
    @MvcHtmlString.Create(Script("kyt.FormView.js").ToString())
    @MvcHtmlString.Create(Script("kyt.GridView.js").ToString())
    @MvcHtmlString.Create(Script("kyt.PopupView.js").ToString())
    @MvcHtmlString.Create(Script("kyt.popupDisplayModule.js").ToString())
    @MvcHtmlString.Create(Script("kyt.popupFormModule.js").ToString())

}

@section HeaderJavascript{
     var pendingTaskaddEditUrl = @MvcHtmlString.Create(JsonUtil.ToJson(Model.AddEditUrl));
     var photoaddEditUrl = @MvcHtmlString.Create(JsonUtil.ToJson(Model.AddEditPhotoUrl));
     var documentaddEditUrl =@MvcHtmlString.Create(JsonUtil.ToJson(Model.AddEditDocumentUrl));
     var pendingGridDef=  @MvcHtmlString.Create(JsonUtil.ToJson(Model.ListDefinition))
     var completeGridDef=  @MvcHtmlString.Create(JsonUtil.ToJson(Model.CompletedListDefinition))
     var photoGridDef=  @MvcHtmlString.Create(JsonUtil.ToJson(Model.PhotoListDefinition))
     var documentGridDef=  @MvcHtmlString.Create(JsonUtil.ToJson(Model.DocumentListDefinition))

 
    $(document).ready(function() {
        fdcOptions = {
            pendingTaskaddEditUrl:pendingTaskaddEditUrl,
            photoaddEditUrl:photoaddEditUrl,
            documentaddEditUrl:documentaddEditUrl,
            pendingGridDef:pendingGridDef,
            completeGridDef:completeGridDef,
            photoGridDef:photoGridDef,
            documentGridDef:documentGridDef
        }
        kyt.fieldDashboardController(fdcOptions).init();
    });
}
    <div class="KYT_DashInfo" id="masterArea">

        <div class="KYT_section_header" >
            @MvcHtmlString.Create(WebLocalizationKeys.FIELD_INFORMATION.ToString())
        </div>
        <div class=" grid_5">
            @MvcHtmlString.Create(Html.ViewFor(x => x.Field.Name).AddClassToLabel("KYT_Label").AddClassToInput("KYT_Input").ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Field.Description).AddClassToLabel("KYT_Label").AddClassToInput("KYT_Input").ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Field.Abbreviation).AddClassToLabel("KYT_Label").AddClassToInput("KYT_Input").ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Field.Size).AddClassToLabel("KYT_Label").AddClassToInput("KYT_Input").ToString())
        </div>
    <div class="grid_9">
       <div id="photoSlide" class="svwp">
           <ul>
                @foreach (var photo in Model.Field.GetPhotos())
                {
                    <li>
                        <img  width="710" height="290"  src="@photo.FileUrl" />
                    </li>
                }
            </ul>
        </div>
    </div>

         <div class="grid_10_KYT">
         </div>
     <div id="pendingTaskGridContainer" class="grid_5b">
        @MvcHtmlString.Create(StyledButtonFor("addNew", WebLocalizationKeys.NEW_TASK).ToString())
        <table id="gridContainer_pt" class="scroll"></table>
        <div id="pager" class="scroll" style="text-align:center;"></div>

    </div>

    <div id="completeTaskGridContainer" class="grid_4 KYT_AddNew_space">
        <table id="gridContainer_ct" class="scroll"></table>
        <div id="pager" class="scroll" style="text-align:center;"></div>
    </div>
    <div class="grid_10_KYT">
         </div>
    <div id="photoGridContainer" class="grid_5b">
        @MvcHtmlString.Create(StyledButtonFor("addNewPhoto", WebLocalizationKeys.NEW_PHOTO).ToString())
        <table id="gridContainer_p" class="scroll"></table>
        <div id="pager" class="scroll" style="text-align:center;"></div>

    </div>

    <div id="documentGridContainer" class="grid_4 KYT_AddNew_space">
        @MvcHtmlString.Create(StyledButtonFor("addNewDocument", WebLocalizationKeys.NEW_DOCUMENT).ToString())
        <table id="gridContainer_d" class="scroll"></table>
        <div id="pager" class="scroll" style="text-align:center;"></div>
    </div>


</div>