@model FacilitiesViewModel
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web.Models

@{
    Layout = "";
}
        <div class="KYT_section_header" >
            @MvcHtmlString.Create(WebLocalizationKeys.EMPLOYEE_INFORMATION.ToString())
        </div>
        @MvcHtmlString.Create(Html.HiddenFor(x => x.Facilities.EntityId, new { @class = "copyEntityId" }).ToString())
            @MvcHtmlString.Create(Html.HiddenFor(x => x.AddEditUrl).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Facilities.FacilitiesId).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Facilities.FirstName).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Facilities.LastName).ToString())
            
            @MvcHtmlString.Create(Html.ViewFor(x => x.Facilities.Email).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Facilities.PhoneMobile).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Facilities.Address1).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Facilities.Address2).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Facilities.City).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Facilities.State).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Facilities.ZipCode).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Facilities.Notes).ToString())

