@model KnowYourTurf.Web.Models.FacilitiesViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web.Controllers
@using KnowYourTurf.Core.Html.Expressions

@{
    Layout = "~/Views/Shared/_popupLayout.cshtml";
}
<script>
    var imageUrl = '@Model.Facilities.ImageUrl';
    extraFormOptions.runAfterRenderFunction = function () {
        if (imageUrl) {
            $("#showImage", this.el).show();
            $("#newImage", this.el).hide();
        } else {
            $("#showImage", this.el).hide();
            $("#newImage", this.el).show();
        }
        $("#deleteImage", this.el).click(function () {
            $("#showImage", this.el).hide();
            $("#newImage", this.el).show();
            $("#DeleteImage", this.el).val(true);
        });        
        $("#UserRole").asSelectboxPicker();
    }

</script>

        <div class="KYT_section_header" >
            @MvcHtmlString.Create(WebLocalizationKeys.EMPLOYEE_INFORMATION.ToString())
        </div>
        
        <div id="puErrorMessages" class="puErrorMessages KYT_errorMessages" ><ul></ul></div>   

            @MvcHtmlString.Create(FormFor<FacilitiesController>(x=>x.Save(null)).Class("CRUD").ElementId("CRUDForm").ToString())
            @MvcHtmlString.Create(Html.HiddenFor(x => x.Facilities.EntityId).ToString())
            @MvcHtmlString.Create(Html.HiddenFor(x => x.DeleteImage).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Facilities.FacilitiesId).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Facilities.FirstName).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Facilities.LastName).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Facilities.Password).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Facilities.Email).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Facilities.PhoneMobile).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Facilities.Address1).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Facilities.Address2).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Facilities.City).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Facilities.State).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Facilities.ZipCode).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Facilities.Status).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Facilities.Notes).ToString())
             <div id="showImage" >
                @MvcHtmlString.Create(Html.ViewFor(x => x.Facilities.ImageUrl).HideLabel().AddClassToInput("KYT_addEditImageSmall").ToString())
                @MvcHtmlString.Create(StyledButtonFor("deleteImage", WebLocalizationKeys.DELETE).ToString())
            </div>
            <div id="newImage">
                <p><input type="file" id="fileUpload" name="fileUpload" size="23"/></p><br />
            </div>
            @MvcHtmlString.Create(EndForm())

