@model KnowYourTurf.Web.Models.UserViewModel
@using CC.Core.Html.CCUI
@using KnowYourTurf.Web
@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<div class="row">
@*-----------Left Column-------------*@
    <div class="span10">
        <div class="row">
            @Html.SubmissionFor(x => x.FirstName).Size("5").ToHtmlTag()
            @Html.SubmissionFor(x => x.LastName).Size("5").ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.UserLoginInfoPassword).Size("5").LabelDisplay(WebLocalizationKeys.PASSWORD).ToHtmlTag()
            @Html.SubmissionFor(x => x.PasswordConfirmation).Size("5").ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.Email).Size("5").ToHtmlTag()
            @Html.SubmissionFor(x => x.PhoneMobile).Size("5").ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.UserLoginInfoStatus).Size("5").ToHtmlTag()
            @Html.SubmissionFor(x => x.FileUrl).Size("5").LabelDisplay(WebLocalizationKeys.FACILITIES_PHOTO).ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.Notes).Size("10").ToHtmlTag()
        </div>
    </div>
    <div class="span1"></div>
    @*-----------Right Column-------------*@
    <div class="span10">
        <div class="row">
            @Html.SubmissionFor(x => x.Address1).Size("5").ToHtmlTag()
            @Html.SubmissionFor(x => x.Address2).Size("5").ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.City).Size("5").ToHtmlTag()
            @Html.SubmissionFor(x => x.State).Size("2").ToHtmlTag()
            @Html.SubmissionFor(x => x.ZipCode).Size("3").ToHtmlTag()
        </div>
    </div>
</div>
