@model KnowYourTurf.Web.Models.UserViewModel
@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web
@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}


    <div class="col left">
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.FirstName).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.LastName).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.UserLoginInfoPassword).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Email).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.PhoneMobile).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.UserLoginInfoStatus).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Notes).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.FileUrl).LabelDisplay(WebLocalizationKeys.FACILITIES_PHOTO).ToHtmlTag()
        </div>
    </div>
    <div class="col left">
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Address1).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Address2).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.City).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.State).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.ZipCode).ToHtmlTag()
        </div>
        
    </div>
@EndForm()                             
