@model KnowYourTurf.Web.Models.EventTypeViewModel
@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web
@using KnowYourTurf.Web.Controllers
@using KnowYourTurf.Core.Html.Expressions
@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}


            @MvcHtmlString.Create(FormFor("/EventType/SaveEventType").Class("CRUD").ElementId("CRUDForm").ToString())
            @MvcHtmlString.Create(Html.HiddenFor(x => x.ListType.EntityId).ToString())
   <div class="col left">
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.ListType.Name).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.ListType.Description).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.ListType.Status).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @WebLocalizationKeys.SELECT_COLOR_TO_ASSOCIATE_WITH_THIS_ITEM.ToString()
            @Html.SubmissionFor(x => x.ListType.EventColor).InputId("EventColor").ToHtmlTag()
            <div id="colorPicker"></div>
        </div>
    </div>
            @EndForm()

