@model KnowYourTurf.Web.Models.EventTypeViewModel
@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web
@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
   <div class="col left">
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Name).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Description).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Status).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @WebLocalizationKeys.SELECT_COLOR_TO_ASSOCIATE_WITH_THIS_ITEM.ToString()
            @Html.SubmissionFor(x => x.EventColor).InputId("EventColor").ToHtmlTag()
            <div id="colorPicker"></div>
        </div>
    </div>

