@model KnowYourTurf.Web.Models.EmailJobViewModel
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI

@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
    <div class="col left">
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Name).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Description).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Subject).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Frequency).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Status).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.EmailJobTypeEntityId).ToHtmlTag()
        </div>
         <div class="fieldRow">
            @Html.SubmissionFor(x => x.EmailTemplateEntityId).ToHtmlTag()
        </div>
    </div>
     <div class="col left clear">
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Subscribers).ElType("MultiSelect").LabelDisplay(WebLocalizationKeys.SUBSCRIBERS).ToHtmlTag()
        </div>
    </div>

