@model KnowYourTurf.Web.Models.EmailJobViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web.Controllers
@using KnowYourTurf.Core.Html.Expressions

@{
    Layout = "~/Views/Shared/_popupLayout.cshtml";
}

<script>
    $(document).ready(function () {
        $("#User").asSelectboxPicker();
    });
</script>

        <div id="puErrorMessages" class="puErrorMessages KYT_errorMessages" ><ul></ul></div>   

            @MvcHtmlString.Create(FormFor<EmailJobController>(x=>x.Save(null)).Class("CRUD").ElementId("CRUDForm").ToString())
            @MvcHtmlString.Create(Html.HiddenFor(x => x.EmailJob.EntityId).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.EmailJob.Name).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.EmailJob.Description).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.EmailJob.Subject).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.EmailJob.Frequency).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.EmailJob.Status).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.EmailJob.EmailTemplate).ToString())
            @MvcHtmlString.Create(SelectBoxPicker(Model.UserSelectBoxPickerDto).ToString())
            @MvcHtmlString.Create(EndForm())

