@model KnowYourTurf.Web.Models.EmailJobViewModel
@using CC.Core.Html.CCUI
@using KnowYourTurf.Web

@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
        <div class="row">
            @Html.SubmissionFor(x => x.Name).Size("5").ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.Description).Size("10").ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.Subject).Size("5").ToHtmlTag()
            @Html.SubmissionFor(x => x.Frequency).Size("5").ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.Status).Size("5").ToHtmlTag()
            @Html.SubmissionFor(x => x.EmailTemplateEntityId).Size("5").LabelDisplay(WebLocalizationKeys.EMAIL_TEMPLATES).ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.Subscribers).ElType("MultiSelect").Size("10").LabelDisplay(WebLocalizationKeys.SUBSCRIBERS).ToHtmlTag()
        </div>

