@model KnowYourTurf.Web.Models.ChemicalViewModel
@using CC.Core.Html.CCUI

@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
    <div class="col left">
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Name).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Description).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Manufacturer).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.ActiveIngredient).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.ActiveIngredientPercent).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.EPAEstNumber).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.EPARegNumber).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Notes).ToHtmlTag()
        </div>
    </div>

