@model KnowYourTurf.Web.Models.DisplayTaskViewModel
@using CC.Core.Html.CCUI
@using KnowYourTurf.Web

@{
    Layout = Model.Popup ? "~/Views/Shared/_popupLayout.cshtml" : "~/Views/Shared/_DisplayLayout.cshtml";
}

<div id="taskDisplay"> 
    <div class="col left">
        <div class="fieldRow">
               @Html.ViewFor(x => x.TaskTypeName).ToHtmlTag()
        </div>
        <div class="fieldRow">
                    @Html.ViewFor(x => x.ScheduledDate).LabelDisplay(WebLocalizationKeys.DATE).ToHtmlTag()
        </div>
        <div class="fieldRow">
                    @Html.ViewFor(x => x.ScheduledStartTimeString).LabelDisplay(WebLocalizationKeys.SCHEDULED_START_TIME).ToHtmlTag()
        </div>
        <div class="fieldRow">
                    @Html.ViewFor(x => x.ScheduledEndTimeString).LabelDisplay(WebLocalizationKeys.SCHEDULED_END_TIME).ToHtmlTag()
        </div>
        <div class="fieldRow">
                    @Html.ViewFor(x => x.FieldName).ToHtmlTag()
        </div>
        <div class="fieldRow">
                    @Html.ViewFor(x => x.InventoryProductProductName).LabelDisplay(WebLocalizationKeys.PRODUCT).ToHtmlTag()
        </div>
        <div class="fieldRow">
                    @Html.ViewFor(x => x._EquipmentNames).LabelDisplay(WebLocalizationKeys.EQUIPMENT).ToHtmlTag()
        </div>
        <div class="fieldRow">
                    @Html.ViewFor(x => x._EmployeeNames).LabelDisplay(WebLocalizationKeys.EMPLOYEES).ToHtmlTag()
        </div>
        <div class="fieldRow">
                    @Html.ViewFor(x => x.Notes).ToHtmlTag()
        </div>
    </div>
</div>

