@model KnowYourTurf.Web.Models.TaskViewModel
@using CC.Core.Html.CCUI
@using KnowYourTurf.Web
@{
    Layout = Model.Popup ? "~/Views/Shared/_popupLayout.cshtml" : "~/Views/Shared/_FormLayout.cshtml";
}

        <div class="row">
            @Html.SubmissionFor(x => x.TaskTypeEntityId).Size("5").LabelDisplay(WebLocalizationKeys.TASK_TYPE).ToHtmlTag()
            @Html.SubmissionFor(x => x.ScheduledDate).Size("5").ElType("DateTextbox").ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.StartTime).Size("5").ElType("TimeTextbox").LabelDisplay(WebLocalizationKeys.SCHEDULED_START_TIME).ToHtmlTag()
            @Html.SubmissionFor(x => x.EndTime).Size("5").ElType("TimeTextbox").LabelDisplay(WebLocalizationKeys.SCHEDULED_END_TIME).ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.ActualTimeSpent).Size("5").InputId("timeSpent").ToHtmlTag()
            @Html.SubmissionFor(x => x.Complete).Size("4").ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.FieldEntityId).Size("10").LabelDisplay(WebLocalizationKeys.FIELD_NAME).ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.InventoryProductEntityId).Size("10").InputId("InventoryProductEntityId").LabelDisplay(WebLocalizationKeys.PRODUCT).ToHtmlTag()
        </div>
        <div class="row">
            <div class="span11">
                <div id="chemicalReport" class="chemicalReport">
                    <h3>@WebLocalizationKeys.CHEMICAL_REPORT</h3>
                    <div class="row">
                        @Html.SubmissionFor(x => x.ApplicationRequestedBy).Size("5").ToHtmlTag()
                        @Html.SubmissionFor(x => x.TargetPest).Size("5").ToHtmlTag()
                    </div>
                    <div class="row">
                        @Html.SubmissionFor(x => x.RatePerUnit).Size("5").ToHtmlTag()
                        @Html.SubmissionFor(x => x.SprayPermitNumber).Size("5").ToHtmlTag()
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.QuantityNeeded).Size("5").ToHtmlTag()
            @Html.SubmissionFor(x => x.QuantityUsed).Size("5").ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.Notes).Size("10").ToHtmlTag()
        </div>
        <div class="row blank"/>
        <div class="row">
            <div id="employeeTokenizer" class="span10">
                @Html.SubmissionFor(x => x.Employees).ElType("MultiSelect").LabelDisplay(WebLocalizationKeys.EMPLOYEES).ToHtmlTag()
            </div>
        </div>
        <div class="row">
            <div id="equipmentTokenizer" class="span10">
                @Html.SubmissionFor(x => x.Equipment).ElType("MultiSelect").LabelDisplay(WebLocalizationKeys.EQUIPMENT).ToHtmlTag()
            </div>
        </div>

