@model KnowYourTurf.Web.Models.TaskViewModel
@using HtmlTags
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web.Controllers
@using KnowYourTurf.Core.Html.Expressions
@{
    Layout = "~/Views/Shared/_popupLayout.cshtml";
}

<script>
    var availableEmployees = @MvcHtmlString.Create(JsonUtil.ToJson(Model.AvailableEmployees)) ;
    var selectedEmployees = @MvcHtmlString.Create(JsonUtil.ToJson(Model.SelectedEmployees)) ;
    var availableEquipment = @MvcHtmlString.Create(JsonUtil.ToJson(Model.AvailableEquipment)) ;
    var selectedEquipment = @MvcHtmlString.Create(JsonUtil.ToJson(Model.SelectedEquipment)) ;
    var employeeOptions = {
        availableItems: availableEmployees,
        selectedItems: selectedEmployees,
        inputSelector:"#EmployeeInput"
    };
    var equipmentOptions = {
        availableItems: availableEquipment,
        selectedItems: selectedEquipment,
        inputSelector:"#EquipmentInput"
    };
    extraFormOptions.employeeOptions = employeeOptions;
    extraFormOptions.equipmentOptions = equipmentOptions;
</script>
    
        <div id="puErrorMessages" class="puErrorMessages KYT_errorMessages" ><ul></ul></div>   

            @MvcHtmlString.Create(FormFor<TaskController>(x=>x.Save(null)).Class("CRUD").ElementId("CRUDForm").ToString())
            @MvcHtmlString.Create(Html.HiddenFor(x => x.Task.EntityId).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Task.TaskType).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Task.ScheduledDate).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Task.ScheduledStartTime).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Task.ScheduledEndTime).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Task.ActualTimeSpent).AddClassToInput("timePickerNoSuffix").ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Task.Field).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Product).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Task.QuantityNeeded).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Task.QuantityUsed).ToString())
            
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Task.Notes).AddClassToInput("KYT_editor_label_left").ToString())
            @MvcHtmlString.Create(Model.Task.Complete
                             ? Html.ViewFor(x => x.Task.Complete).ToString()
                             : Html.SubmissionFor(x => x.Task.Complete).ToString())
            <div id="employeeTokenizer">
                @MvcHtmlString.Create(Html.SubmissionFor(x => x.EmployeeInput).InputId("EmployeeInput").HideInput().LabelDisplay(WebLocalizationKeys.EMPLOYEES).ToString())
            </div>
            <div id="equipmentTokenizer">
                @MvcHtmlString.Create(Html.SubmissionFor(x => x.EquipmentInput).InputId("EquipmentInput").HideInput().LabelDisplay(WebLocalizationKeys.EQUIPMENT).ToString())
            </div>
            
            @MvcHtmlString.Create(EndForm())



