@model KnowYourTurf.Web.Models.TaskViewModel
@using HtmlTags
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web.Controllers
@using KnowYourTurf.Core.Html.Expressions
@{
    Layout = Model.Popup ? "~/Views/Shared/_popupLayout.cshtml" : "~/Views/Shared/_FormLayout.cshtml";
}


    <div class="col left">
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.TaskTypeEntityId).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.ScheduledDate).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.ScheduledStartTime).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.ScheduledEndTime).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.ActualTimeSpent).InputId("timeSpent").ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.FieldEntityId).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.InventoryProductProductEntityId).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.QuantityNeeded).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.QuantityUsed).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Notes).AddClassToInput("KYT_editor_label_left").ToHtmlTag()
        </div>
        <div class="fieldRow">
@*        @if (Model.Item.Complete)*@
@*        {*@
@*            @Html.ViewFor(x => x.Item.Complete).ToHtmlTag()*@
@*        }*@
@*        else*@
@*        {*@
            @Html.SubmissionFor(x => x.Complete).ToHtmlTag()
@*        }*@
        </div>
    </div>
    <div class="col left clear">
        <div class="fieldRow">
            <div id="employeeTokenizer">
                @Html.SubmissionFor(x => x.Employees).HideInput().ElType("MultiSelect").LabelDisplay(WebLocalizationKeys.EMPLOYEES).ToHtmlTag()
            </div>
        </div>
        <div class="fieldRow">
            <div id="equipmentTokenizer">
                @Html.SubmissionFor(x => x.Equipment).HideInput().ElType("MultiSelect").LabelDisplay(WebLocalizationKeys.EQUIPMENT).ToHtmlTag()
            </div>
        </div>
    </div>
            
@EndForm()


