@model KnowYourTurf.Web.Controllers.EquipmentViewModel
@using CC.Core.Html.CCUI
@using KnowYourTurf.Web


@{ Layout = "~/Views/Shared/_EmptyLayout.cshtml"; }


       <div class="col left">
            <div class="fieldRow">
            @Html.SubmissionFor(x => x.Name).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Description).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.VendorEntityId).LabelDisplay(WebLocalizationKeys.VENDOR).ToHtmlTag()
        </div>
       <div class="fieldRow">
           @Html.SubmissionFor(x => x.TotalHours).ToHtmlTag()
       </div>
       <div class="fieldRow">
            @Html.SubmissionFor(x => x.FileUrl).ToHtmlTag()
        </div>
        </div>
            
    <div class="col full clear">
        <div class="fieldRow">
            @Html.SubmissionFor(x => x._Photos).InputId("photoGallery").HideLabel().ToHtmlTag()
        </div> 
    </div>
    <div class="col left">
        @StandardButtonFor("save", WebLocalizationKeys.SAVE).AddClass("save").ToHtmlTag()
        @StandardButtonFor("cancel", WebLocalizationKeys.CANCEL).AddClass("cancel").ToHtmlTag()
    </div>
    <div class="col full clear"><hr/></div>

    <div class="col left clear ">
        <div class="fieldRow dashboardGrid">
            <div class="gridHeader">@WebLocalizationKeys.PENDING_TASKS</div>
            <div id="pendingTaskGridContainer" class="dashboardGrid"></div>
        </div>
        <div class="fieldRow  dashboardGrid">
            <div class="gridHeader">@WebLocalizationKeys.PHOTOS</div>
            <div id="photoGridContainer" class="dashboardGrid"></div>
        </div>
    </div>
   
<div class="col right ">
    <div class="fieldRow  dashboardGrid">
        <div class="gridHeader">@WebLocalizationKeys.COMPLETED_TASKS</div>
        <div id="completedTaskGridContainer" class="dashboardGrid"></div>
    </div>
    <div class="fieldRow  dashboardGrid">
        <div class="gridHeader">@WebLocalizationKeys.DOCUMENTS</div>
        <div id="documentGridContainer" class="dashboardGrid"></div>
    </div>
</div>
