@model KnowYourTurf.Web.Models.ChemicalViewModel
@using CC.Core.Html.CCUI

@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<div class="row">
    @Html.SubmissionFor(x => x.Name).Size("5").ToHtmlTag()
    @Html.SubmissionFor(x => x.Manufacturer).Size("5").ToHtmlTag()
</div>
<div class="row">
    @Html.SubmissionFor(x => x.Description).Size("10").ToHtmlTag()
</div>
<div class="row">
    @Html.SubmissionFor(x => x.ActiveIngredient).Size("5").ToHtmlTag()
</div>
<div class="row">
    @Html.SubmissionFor(x => x.ActiveIngredientPercent).Size("5").ToHtmlTag()
</div>
<div class="row">
    @Html.SubmissionFor(x => x.EPAEstNumber).Size("5").ToHtmlTag()
</div>
<div class="row">
    @Html.SubmissionFor(x => x.EPARegNumber).Size("5").ToHtmlTag()
</div>
<div class="row">
    @Html.SubmissionFor(x => x.Notes).Size("10").ToHtmlTag()
</div>

