@model KnowYourTurf.Web.Models.ChemicalViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web.Controllers
@using KnowYourTurf.Core.Html.Expressions

@{
    Layout = "~/Views/Shared/_popupLayout.cshtml";
}

        <div id="puErrorMessages" class="puErrorMessages KYT_errorMessages" ><ul></ul></div>   

            @MvcHtmlString.Create(FormFor<ChemicalController>(x=>x.Save(null)).Class("CRUD").ElementId("CRUDForm").ToString())
            @MvcHtmlString.Create(Html.HiddenFor(x => x.Chemical.EntityId).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Chemical.Name).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Chemical.Description).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Chemical.Manufacturer).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Chemical.ActiveIngredient).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Chemical.ActiveIngredientPercent).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Chemical.EPAEstNumber).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Chemical.EPARegNumber).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Chemical.Notes).ToString())
            @MvcHtmlString.Create(EndForm())

