@model KnowYourTurf.Web.Models.FieldViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web.Controllers
@using KnowYourTurf.Core.Html.Expressions
@{
    Layout = "~/Views/Shared/_popupLayout.cshtml";
}

        <div id="puErrorMessages" class="puErrorMessages KYT_errorMessages" ><ul></ul></div>   

            @MvcHtmlString.Create(FormFor<FieldController>(x => x.Save(null)).Class("CRUD").ElementId("CRUDForm").ToString())
            @MvcHtmlString.Create(Html.HiddenFor(x => x.Field.EntityId).ToString())
            @MvcHtmlString.Create(Html.HiddenFor(x => x.DeleteImage).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Field.Name).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Field.Abbreviation).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Field.Description).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Field.Size).ToString())
            
            @MvcHtmlString.Create(EndForm())
            
