@using KnowYourTurf.Web
@model KnowYourTurf.Web.Models.ListTypeListViewModel

@{ Layout = "~/Views/Shared/_EmptyLayout.cshtml"; }



<div class="row">
    @*-----------Left Column-------------*@
    <div class="span10">
        <div class="row dashboardGrid">
            <div class="span10 gridHeader">@WebLocalizationKeys.TASK_TYPES</div>
        </div>
        <div class="row">
            <div id="taskTypeGridContainer" class="dashboardGrid span10"></div>
        </div>
        <div class="row blank" ></div>
        <div class="row dashboardGrid">
            <div class="span10 gridHeader">@WebLocalizationKeys.EVENT_TYPES</div>
        </div>
        <div class="row">
            <div id="eventTypeGridContainer" class="dashboardGrid span10"></div>
        </div>
        <div class="row blank" ></div>
        <div class="row dashboardGrid">
            <div class="span10 gridHeader">@WebLocalizationKeys.EQUIPMENT_TASK_TYPES</div>
        </div>
        <div class="row">
            <div id="equipmentTaskTypeGridContainer" class="dashboardGrid span10"></div>
        </div>
        <div class="row blank" ></div>
        <div class="row dashboardGrid">
            <div class="span10 gridHeader">@WebLocalizationKeys.PARTS</div>
        </div>
        <div class="row">
            <div id="partsGridContainer" class="dashboardGrid span10"></div>
        </div>
    </div>
    <div class="span1"></div>
    @*-----------Right Column-------------*@
    <div class="span10">
        <div class="row dashboardGrid">
            <div class="span10 gridHeader">@WebLocalizationKeys.PHOTO_CATEGORIES</div>
        </div>
        <div class="row">
            <div id="photoCategoryGridContainer" class="dashboardGrid span10"></div>
        </div>
        <div class="row blank" ></div>
        <div class="row dashboardGrid">
            <div class="span10 gridHeader">@WebLocalizationKeys.DOCUMENT_CATEGORIES</div>
        </div>
        <div class="row">
            <div id="documentCategoryGridContainer" class="dashboardGrid span10"></div>
        </div>
        <div class="row blank" ></div>
        <div class="row dashboardGrid">
            <div class="span10 gridHeader">@WebLocalizationKeys.EQUIPMENT_TYPES</div>
        </div>
        <div class="row">
            <div id="equipmentTypeGridContainer" class="dashboardGrid span10"></div>
        </div>
    </div>
</div>
        