
@model KnowYourTurf.Web.Models.ListTypeListViewModel
@using KnowYourTurf.Web
@using HtmlTags

@{ Layout = "~/Views/Shared/_listLayout.cshtml"; }
@section HeaderScripts{
    @MvcHtmlString.Create(Script("kyt.ListTypeController.js").ToString())
}
<script>
    crudOptions.gridInfo = {
        addEditUrl: crudOptions.addEditUrl,
        gridDef: crudOptions.gridDef,
        title: crudOptions.title
    };
    crudOptions.ttGridInfo = {
        addEditUrl: crudOptions.addEditUrl,
        gridDef: @MvcHtmlString.Create(JsonUtil.ToJson(Model.ListDefinitionTT)) ,
        title: "@Model.PopupTitleTT"
    };
    crudOptions.pcGridInfo = {
        addEditUrl: crudOptions.addEditUrl,
        gridDef: @MvcHtmlString.Create(JsonUtil.ToJson(Model.ListDefinitionPC)) ,
        title: "@Model.PopupTitlePC"
    };
    crudOptions.dcGridInfo = {
        addEditUrl: crudOptions.addEditUrl,
        gridDef: @MvcHtmlString.Create(JsonUtil.ToJson(Model.ListDefinitionDC)) ,
        title: "@Model.PopupTitleDC"
    }; 
    
    $(document).ready(function(){
        new kyt.ListTypeController(crudOptions);
    });
</script>
@MvcHtmlString.Create(StyledButtonFor("addNewTaskType", WebLocalizationKeys.NEW_TASK_TYPE).ToString())
<table id="TaskTypeGrid" class="scroll"></table>
<div id="taskTypePager" class="scroll" style="text-align:center;"></div>

@MvcHtmlString.Create(StyledButtonFor("addNewEventType", WebLocalizationKeys.NEW_EVENT_TYPE).ToString())
<table id="EventTypeGrid" class="scroll"></table>
<div id="eventTypePager" class="scroll" style="text-align:center;"></div>

@MvcHtmlString.Create(StyledButtonFor("addNewDocumentCategory", WebLocalizationKeys.NEW_DOCUMENT_CATEGORY).ToString())
<table id="DocumentCategoryGrid" class="scroll"></table>
<div id="docCatPager" class="scroll" style="text-align:center;"></div>

@MvcHtmlString.Create(StyledButtonFor("addNewPhotoCategory", WebLocalizationKeys.NEW_PHOTO_CATEGORY).ToString())
<table id="PhotoCategoryGrid" class="scroll"></table>
<div id="photoCatPager" class="scroll" style="text-align:center;"></div>
