
@model KnowYourTurf.Web.Models.ListTypeListViewModel
@using KnowYourTurf.Web
@using HtmlTags

@{ Layout = "~/Views/Shared/_listLayout.cshtml"; }
@section HeaderScripts{
    @MvcHtmlString.Create(Script("kyt.ListTypeController.js").ToString())
}
<script>
    gridControllerOptions.gridInfo = {
        addUpdateUrl:  "@Model.AddUpdateUrlET",
        gridDef: crudOptions.gridDef,
        title: crudOptions.title
    };
    gridControllerOptions.ttGridInfo = {
        addUpdateUrl: "@Model.AddUpdateUrlTT",
        gridDef: @MvcHtmlString.Create(JsonUtil.ToJson(Model.ListDefinitionTT)) ,
        title: "@Model.PopupTitleTT"
    };
    gridControllerOptions.dcGridInfo = {
        addUpdateUrl: "@Model.AddUpdateUrlDC",
        gridDef: @MvcHtmlString.Create(JsonUtil.ToJson(Model.ListDefinitionDC)) ,
        title: "@Model.PopupTitlePC"
    };
    gridControllerOptions.pcGridInfo = {
        addUpdateUrl: "@Model.AddUpdateUrlPC",
        gridDef: @MvcHtmlString.Create(JsonUtil.ToJson(Model.ListDefinitionPC)) ,
        title: "@Model.PopupTitleDC"
    }; 
    
    $(document).ready(function(){
        new kyt.ListTypeController(gridControllerOptions);
    });
</script>
<table id="TaskTypeGrid" class="scroll"></table>
<div id="taskTypePager" class="scroll" style="text-align:center;"></div>

<table id="EventTypeGrid" class="scroll"></table>
<div id="eventTypePager" class="scroll" style="text-align:center;"></div>

<table id="DocumentCategoryGrid" class="scroll"></table>
<div id="docCatPager" class="scroll" style="text-align:center;"></div>

<table id="PhotoCategoryGrid" class="scroll"></table>
<div id="photoCatPager" class="scroll" style="text-align:center;"></div>
