@model LoginViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web.Controllers
@using KnowYourTurf.Core.Html.Expressions
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI

@{
    Layout = "";
}
<!DOCTYPE html>
<html>
    <head>
    <title>Login</title>
    
    @MvcHtmlString.Create(CSS("yui.reset.2.6.0.css").ToString())
    @MvcHtmlString.Create(CSS("site.css").ToString())
    @MvcHtmlString.Create(CSS("kyt.css").ToString())
    @MvcHtmlString.Create(CSS("ui-lightness/jquery-ui-1.8.7.custom.css").ToString())

    @MvcHtmlString.Create(Script("jquery-1.4.4.min.js").ToString())
    @MvcHtmlString.Create(Script("jquery-ui-1.8.7.custom.min.js").ToString())
    @MvcHtmlString.Create(Script("jquery.validate.min.js").ToString())
    @MvcHtmlString.Create(Script("jquery.form.js").ToString())
    @MvcHtmlString.Create(Script("kyt.utilities.js").ToString())
    @MvcHtmlString.Create(Script("kyt.crudForm.js").ToString())
    @MvcHtmlString.Create(Script("jquery.metadata.js").ToString())
    
    <script type="text/javascript">
        $(document).ready(function() {
            $(".submitButton").live("click", function(event) {
                $("#CRUDForm").submit();
                event.preventDefault();
            });

             $("#errorMessages").hide();
        });
        </script>
    </head>
    <body class="kyt_dyn">
        <div id="background_layer">
            <div class="container_12">    
                <div class="KYT_960Main">
                <div class="grid_3"></div>
                <div class="grid_5"></div>
                <div class="grid_4">
                    <div class="KYT_userinfo">
                        
                         
                    </div>             
                </div>

                <h1></h1>
                <div class="grid_12">

                    @MvcHtmlString.Create(FormFor<LoginController>(l => l.Login(null)).Class("CRUD").ElementId("CRUDForm").ToString());
    
                        <h2 class="title">Login</h2>
                        <div class="KYT_login_label">@WebLocalizationKeys.PLEASE_ENTER_YOUR_USERNAME_AND_PASSWORD_BELOW_KEY</div>     
    
                        <div id="errorMessages" class="errorMessages KYT_errorMessages" ><ul></ul></div>   
    
                        <div class="username">
                            @MvcHtmlString.Create(Html.SubmissionFor(x => x.UserName).AddClassToInput(".KYT_width100").ToString())
                        </div>
                        <div class="password">
                            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Password).AddClassToInput(".KYT_width100").ToString())
                        </div>
                        <div class="remember">
                            @MvcHtmlString.Create(Html.SubmissionFor(x => x.RememberMe).InLine().AddClassToInput(".KYT_width100").ToString())
                        </div>
                        <div class="submit KYT_float_right">
                            @MvcHtmlString.Create(StyledButtonFor("Login",WebLocalizationKeys.LOGIN_KEY).AsSubmit().ToString())
                        </div>
                    </form>

                </div>
            <div class="grid_12" id="footer">
                <div class="powered"><p>© Copyright 2011 KYTsoftware, LLC.  All Rights Reserved</p></div>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>
