@model KnowYourTurf.Web.Models.Equipment.EquipmentViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web.Controllers
@using KnowYourTurf.Core.Html.Expressions
@{
    Layout = "~/Views/Shared/_popupLayout.cshtml";
}
<script>
var imageUrl = '@Model.Equipment.ImageUrl';
    extraFormOptions.runAfterRenderFunction = function () {
        if (imageUrl) {
            $("#showImage", this.el).show();
            $("#newImage", this.el).hide();
        } else {
            $("#showImage", this.el).hide();
            $("#newImage", this.el).show();
        }
        $("#deleteImage", this.el).click(function () {
            $("#showImage", this.el).hide();
            $("#newImage", this.el).show();
            $("#DeleteImage", this.el).val(true);
        });        
    }
</script>

            @MvcHtmlString.Create(FormFor<EquipmentController>(x=>x.Save(null)).Class("CRUD").ElementId("CRUDForm").ToString())
            @MvcHtmlString.Create(Html.HiddenFor(x => x.Equipment.EntityId).ToString())
            @MvcHtmlString.Create(Html.HiddenFor(x => x.DeleteImage).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Equipment.Name).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Equipment.Description).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Equipment.Vendor).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Equipment.TotalHours).ToString())
             <div id="showImage" >
                @MvcHtmlString.Create(Html.ViewFor(x => x.Equipment.ImageUrl).HideLabel().AddClassToInput("KYT_displayImage").ToString())
                @MvcHtmlString.Create(StyledButtonFor("deleteImage", WebLocalizationKeys.DELETE).ToString())
            </div>
            <div id="newImage">
                <p><input type="file" id="fileUpload" name="fileUpload" size="23"/></p><br />
            </div>@MvcHtmlString.Create(EndForm())

