@model EquipmentViewModel
@using CC.Core.Html.CCUI
@using KnowYourTurf.Web
@using KnowYourTurf.Web.Controllers
@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<div class="row">
    @Html.SubmissionFor(x => x.Name).Size("5").ToHtmlTag()
</div>
<div class="row">
    @Html.SubmissionFor(x => x.Description).Size("10").ToHtmlTag()
</div>
<div class="row">
    @Html.SubmissionFor(x => x.EquipmentTypeEntityId).Size("5").LabelDisplay(WebLocalizationKeys.EQUIPMENT_TYPE).ToHtmlTag()
</div>
<div class="row">
    @Html.SubmissionFor(x => x.EquipmentVendorEntityId).Size("5").LabelDisplay(WebLocalizationKeys.VENDOR).ToHtmlTag()
</div>
<div class="row">
    @Html.SubmissionFor(x => x.TotalHours).Size("5").ToHtmlTag()
</div>
<div class="row">
    @Html.SubmissionFor(x => x.Threshold).Size("5").ToHtmlTag()
</div>

