@model KnowYourTurf.Web.Models.EventViewModel
@using CC.Core.Html.CCUI
@using KnowYourTurf.Web

@{
    Layout = "~/Views/Shared/_popupLayout.cshtml";
}
        <div class="row">
            @Html.ViewFor(x => x.EventTypeName).Size("7").ToHtmlTag()
            @Html.ViewFor(x => x.ScheduledDate).Size("7").ToHtmlTag()
        </div>
        <div class="row">
            @Html.ViewFor(x => x.StartTime).Size("7").ToHtmlTag()
            @Html.ViewFor(x => x.EndTime).Size("7").ToHtmlTag()
        </div>
        <div class="row">
            @Html.ViewFor(x => x.FieldName).Size("10").LabelDisplay(WebLocalizationKeys.FIELD_NAME).ToHtmlTag()
        </div>
        <div class="row">
            @Html.ViewFor(x => x.Notes).Size("10").ToHtmlTag()
        </div>


