@model KnowYourTurf.Web.Models.EventViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI

@{
    Layout = "~/Views/Shared/_popupLayout.cshtml";
}
   <div class="col left">
        <div class="fieldRow">
            @Html.ViewFor(x => x.EventTypeName).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.ScheduledDate).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.StartTime).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.EndTime).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.FieldName).LabelDisplay(WebLocalizationKeys.FIELD_NAME).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.Notes).ToHtmlTag()
        </div>
    </div>


