@model KnowYourTurf.Web.Models.EventViewModel
@using CC.Core.Html.CCUI
@using KnowYourTurf.Web
@{
    Layout = "~/Views/Shared/_popupLayout.cshtml";
}

    <div class="col left">
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.EventTypeEntityId).LabelDisplay(WebLocalizationKeys.EVENT_TYPE).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.ScheduledDate).ElType("DateTextbox").ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.StartTime).ElType("TimeTextbox").ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.EndTime).ElType("TimeTextbox").ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.FieldEntityId).LabelDisplay(WebLocalizationKeys.FIELD_NAME).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Notes).ToHtmlTag()
        </div>
    </div>
