@model KnowYourTurf.Web.Models.EventViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI

@{
    Layout = "~/Views/Shared/_popupLayout.cshtml";
}
    <div id="errorMessagesPU" class="mf_ErrorMessages errorMessages"><ul></ul></div>
        @MvcHtmlString.Create(Html.HiddenFor(x => x.Event.EntityId, new { @class = "copyEntityId" }).ToString())
            <input type="hidden" name="Event.EntityId" id="EntityId" value="@Model.Event.EntityId"/>
   <div class="col left">
        <div class="fieldRow">
            @MvcHtmlString.Create(Html.HiddenFor(x => x.AddUpdateUrl).ToString())
        </div>
        <div class="fieldRow">
            @MvcHtmlString.Create(Html.ViewFor(x => x.Event.EventType.Name).ToString())
        </div>
        <div class="fieldRow">
            @MvcHtmlString.Create(Html.ViewFor(x => x.Event.ScheduledDate).ToString())
        </div>
        <div class="fieldRow">
            @MvcHtmlString.Create(Html.ViewFor(x => x.Event.StartTime).ToString())
        </div>
        <div class="fieldRow">
            @MvcHtmlString.Create(Html.ViewFor(x => x.Event.EndTime).ToString())
        </div>
        <div class="fieldRow">
            @MvcHtmlString.Create(Html.ViewFor(x => x.Event.Field.Name).LabelDisplay(WebLocalizationKeys.FIELD_NAME).ToString())
        </div>
        <div class="fieldRow">
            @MvcHtmlString.Create(Html.ViewFor(x => x.Event.Notes).ToString())
        </div>
    </div>


