@model KnowYourTurf.Web.Models.POCommitViewModel
@using KnowYourTurf.Web
@using HtmlTags
@using KnowYourTurf.Core.Html.FubuUI

@{ Layout = "~/Views/Shared/_listLayout.cshtml"; }
@section HeaderScripts{
    @MvcHtmlString.Create(Script("kyt.PurchaseOrderCommitController.js").ToString())
}
@section HeaderJavascript{
     crudOptions.closePOUrl = '@MvcHtmlString.Create(Model.ClosePOUrl)';

    $(document).ready(function(){
        new kyt.PurchaseOrderCommitController(crudOptions);
    });
}

        @MvcHtmlString.Create(Html.HiddenFor(x => x.PurchaseOrder.EntityId).ToString())
    <div class="col left">
        <div class="fieldRow">
            @Html.ViewFor(x => x.PurchaseOrder.EntityId).LabelDisplay(WebLocalizationKeys.PO_NUMBER).RootId("viewPOID").ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.PurchaseOrder.Vendor.Company).RootId("viewVendor").ToHtmlTag()
        </div>
    </div>
            @StandardButtonFor("savePO", WebLocalizationKeys.CLOSE_THIS_PURCHASE_ORDER).ToHtmlTag()
            <h2>@WebLocalizationKeys.PURCHASE_ORDER_LINE_ITEMS</h2>
            <table id="gridContainer" class="scroll"></table>
            <div id="pager" class="scroll" style="text-align:center;"></div>
