@model KnowYourTurf.Web.Models.POCommitViewModel
@using KnowYourTurf.Web
@using HtmlTags
@using KnowYourTurf.Core.Html.FubuUI

@{ Layout = "~/Views/Shared/_listLayout.cshtml"; }
@section HeaderScripts{
}
@section HeaderJavascript{
     gridControllerOptions.closePOUrl = '@MvcHtmlString.Create(Model.ClosePOUrl)';
     gridControllerOptions.searchField = 'PurchaseOrderLineItem.Product.Name';
    $(document).ready(function(){
        new kyt.PurchaseOrderCommitController(gridControllerOptions);
    });
}

        @MvcHtmlString.Create(Html.HiddenFor(x => x.PurchaseOrder.EntityId).ToString())
    <div class="col left">
        <div class="fieldRow">
            @Html.ViewFor(x => x.PurchaseOrder.EntityId).LabelDisplay(WebLocalizationKeys.PO_NUMBER).RootId("viewPOID").ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.PurchaseOrder.Vendor.Company).RootId("viewVendor").ToHtmlTag()
        </div>
    </div>
    <div class="col full clear">
        <div class="fieldRow">
            @StandardButtonFor("savePO", WebLocalizationKeys.CLOSE_THIS_PURCHASE_ORDER).AddClass("save").ToHtmlTag()
           <div class="content-header">
                <input class="search" /> 
                <button class="delete" title="@WebLocalizationKeys.REMOVE"></button>
                <span class="title-name">@Model.Title</span>
            </div>
            <div id="contentArea" class="content-inner">
            <div id="validation-container-wrapper">
                <div id="errorMessagesGrid" class="kyt_ErrorMessages errorMessages"><ul></ul></div>
            </div>
                     <table id="gridContainer" class="scroll"></table>
        @*            <div id="pager" class="scroll" style="text-align:center;"></div>*@
            </div>
        </div>
    </div>
