@model KnowYourTurf.Web.Models.FertilzierNeededCalcViewModel
@using KnowYourTurf.Core.Html.Expressions;
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web.Controllers;

@{
    Layout = "~/Views/Shared/_popupLayout.cshtml";
}
            @MvcHtmlString.Create(FormFor<CalculatorController>(x=>x.Calculate(null)).Class("CRUD").ElementId("CRUDForm").ToString())

            @MvcHtmlString.Create(Html.HiddenFor(x => x.EntityId).ToString())
            @MvcHtmlString.Create(Html.HiddenFor(x => x.CalculatorName).ToString())
    <div class="col left">
        <div class="fieldRow">
            @Html.ViewFor(x => x.CalculatorDisplayName).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Field).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Product).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.N).InputId("N").ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.P).InputId("P").ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.K).InputId("K").ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.BagSize).InputId("BagSize").ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.BagsNeeded).InputId("BagsNeeded").ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.FieldArea).InputId("FieldArea").ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.FertilizerRate).ToHtmlTag()
        </div>
    </div>
            @EndForm()
