@model KnowYourTurf.Web.Models.MaterialsCalcViewModel
@using KnowYourTurf.Core.Html.Expressions;
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web.Controllers;

@{
    Layout = "~/Views/Shared/_popupLayout.cshtml";
}

            @MvcHtmlString.Create(FormFor<CalculatorController>(x=>x.Calculate(null)).Class("CRUD").ElementId("CRUDForm").ToString())

            @MvcHtmlString.Create(Html.HiddenFor(x => x.EntityId).ToString())
            @MvcHtmlString.Create(Html.HiddenFor(x => x.CalculatorName).ToString())
    <div class="col left">
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Field).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.CalculatorDisplayName).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.FieldArea).InputId("FieldArea").ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Depth).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Drainageline).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.DitchDepth).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.DitchlineWidth).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.PipeRadius).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.TotalMaterials).InputId("TotalMaterials").ToHtmlTag()
        </div>
    </div>
            @EndForm()
