@model KnowYourTurf.Web.Models.SandCalcViewModel
@using KnowYourTurf.Core.Html.FubuUI

@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
   
    <div class="col left">
        <div class="fieldRow">
            @Html.ViewFor(x => x._calculatorDisplayName).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Area).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Diameter).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Height).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.TotalSand).InputId("TotalSand").ToHtmlTag()
        </div>
    </div>
