@model KnowYourTurf.Web.Controllers.InventoryMaterialViewModel
@using CC.Core.Html.CCUI
@using KnowYourTurf.Web

@{
    Layout = "~/Views/Shared/_DisplayLayout.cshtml";
}
        <div class="row">
            @Html.ViewFor(x => x.Name).Size("5").ToHtmlTag()
            @Html.ViewFor(x => x.LastVendorClient).Size("5").LabelDisplay(WebLocalizationKeys.PREVIOUS_VENDOR).ToHtmlTag()
         </div>
        <div class="row">
            @Html.ViewFor(x => x.Description).Size("10").ToHtmlTag()
         </div>
        <div class="row">
            @Html.ViewFor(x => x.Quantity).Size("5").ToHtmlTag()
            @Html.ViewFor(x => x.SizeOfUnit).Size("5").ToHtmlTag()
         </div>
        <div class="row">
            @Html.ViewFor(x => x.UnitType).Size("5").ToHtmlTag()
         </div>

