@model KnowYourTurf.Web.Controllers.InventoryChemicalViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web.Controllers

@{
    Layout = "~/Views/Shared/_DisplayLayout.cshtml";

}
        
   <div class="col left">
        <div class="fieldRow">
            @Html.ViewFor(x => x.Chemical.Name).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.Chemical.Description).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.Chemical.Manufacturer).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.Chemical.ActiveIngredient).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.Chemical.ActiveIngredientPercent).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.Chemical.EPAEstNumber).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.Chemical.EPARegNumber).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.Chemical.Notes).ToHtmlTag()
        </div>
    </div>
