@model KnowYourTurf.Web.Controllers.InventoryMaterialViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI

@{
    Layout = "~/Views/Shared/_DisplayLayout.cshtml";
}
  <div class="col left">
        <div class="fieldRow">
            @Html.ViewFor(x => x.Material.Name).ToHtmlTag()
         </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.Material.Description).ToHtmlTag()
         </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.Item.Quantity).ToHtmlTag()
         </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.Item.SizeOfUnit).ToHtmlTag()
         </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.Item.UnitType).ToHtmlTag()
         </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.Item.LastVendor.Company).LabelDisplay(WebLocalizationKeys.PREVIOUS_VENDOR).ToHtmlTag()
         </div>
    </div>

