@model InventoryChemicalViewModel
@using CC.Core.Html.CCUI
@using KnowYourTurf.Web.Controllers

@{
    Layout = "~/Views/Shared/_DisplayLayout.cshtml";
}
        
        <div class="row">
            @Html.ViewFor(x => x.Name).Size("5").ToHtmlTag()
            @Html.ViewFor(x => x.Manufacturer).Size("5").ToHtmlTag()
        </div>
        <div class="row">
            @Html.ViewFor(x => x.Description).Size("10").ToHtmlTag()
        </div>
        <div class="row">
            @Html.ViewFor(x => x.ActiveIngredient).Size("5").ToHtmlTag()
            @Html.ViewFor(x => x.ActiveIngredientPercent).Size("5").ToHtmlTag()
        </div>
        <div class="row">
            @Html.ViewFor(x => x.EPAEstNumber).Size("5").ToHtmlTag()
            @Html.ViewFor(x => x.EPARegNumber).Size("5").ToHtmlTag()
        </div>
        <div class="row">
            @Html.ViewFor(x => x.Notes).Size("10").ToHtmlTag()
        </div>
    </div>
