@model KnowYourTurf.Web.Models.POListViewModel
@using CC.Core.Html.CCUI
@using KnowYourTurf.Web


@{ Layout = "~/Views/Shared/_EmptyLayout.cshtml"; }

    <div class="col left">
        <div class="fieldRow">
        @Html.ViewFor(x => x.EntityId).LabelDisplay(WebLocalizationKeys.PO_NUMBER).RootId("viewPOID").ToHtmlTag()
        </div>
        <div class="fieldRow">
        @Html.ViewFor(x => x.VendorCompany).RootId("viewFieldVendor").ToHtmlTag()
        </div>
        <div class="fieldRow">
        @Html.SubmissionFor(x => x.VendorEntityId).InputId("FieldVendor").RootId("editFieldVendor").ToHtmlTag()
        </div>
    </div>

    <div class="col full clear">
        <div class="fieldRow">
            <div id="productGridArea">
            </div>
        </div>
    </div>

    <div class="col full clear">
        <div class="fieldRow">
            <div id="poliGridArea">
            </div>
        </div>
    </div>
    <div class="footer">

        @StandardButtonFor("commit", WebLocalizationKeys.COMMIT).AddClass("save").ToHtmlTag()
        @StandardButtonFor("return", WebLocalizationKeys.RETURN).AddClass("cancel").ToHtmlTag()
    </div>
