@model KnowYourTurf.Web.Models.UserViewModel
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI


@{ Layout = "~/Views/Shared/_EmptyLayout.cshtml"; }


@section HeaderJavascript{
}

    <div class="col left">
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.EmployeeId).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.FirstName).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.LastName).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.EmergencyContact).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.EmergencyContactPhone).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.UserLoginInfoPassword).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Email).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.PhoneMobile).ToHtmlTag()
        </div>
    </div>
    <div class="col left">
        <div class="fieldRow">
            @Html.ViewFor(x => x.FileUrl).LabelDisplay(WebLocalizationKeys.EMPLOYEE_PHOTO).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Address1).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Address2).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.City).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.State).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.ZipCode).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.UserLoginInfoStatus).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Notes).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.UserRoles).ElType("MultiSelect").ToHtmlTag() 
            @*            .OperationName("/UserRoles").ToHtmlTag()*@
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.FileUrl).LabelDisplay(WebLocalizationKeys.EMPLOYEE_PHOTO).ToHtmlTag() 
        </div>
    </div>


<div class="col full clear"></div>
<div class="col left">
    @StandardButtonFor("save", WebLocalizationKeys.SAVE).AddClass("save").ToHtmlTag()
    @StandardButtonFor("cancel", WebLocalizationKeys.CANCEL).AddClass("cancel").ToHtmlTag()
</div>
<div class="col full clear"><hr/></div>

    <div class="col left clear">
        <div class="fieldRow">
            <div class="gridHeader">@WebLocalizationKeys.PENDING_TASKS</div>
            <div id="pendingTaskGridContainer"></div>
        </div>
    </div>

    <div class="col right">
        <div class="fieldRow">
            <div class="gridHeader">@WebLocalizationKeys.COMPLETED_TASKS</div>
            <div id="completedTaskGridContainer" class="grid_4 KYT_AddNew_space"></div>
        </div>
    </div>
