@model KnowYourTurf.Web.Models.EmployeeDashboardViewModel
@using KnowYourTurf.Core;
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI
@using HtmlTags


@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@section ExtraCss {
    @MvcHtmlString.Create(CSS("ui.jqgrid.css").ToString())
    @MvcHtmlString.Create(CSS("token-input.css").ToString())
}    
@section HeaderScripts{
    @MvcHtmlString.Create(Script("grid.locale-en.js").ToString())
    @MvcHtmlString.Create(Script("jquery.jqGrid.min.js").ToString())
    @MvcHtmlString.Create(Script("jquery.kyt.grid.js").ToString())
    @MvcHtmlString.Create(Script("jquery.tokeninput.js").ToString())
    @MvcHtmlString.Create(Script("kyt.grid.columnService.js").ToString())
    @MvcHtmlString.Create(Script("kyt.grid.formatters.js").ToString())
    @MvcHtmlString.Create(Script("kyt.gridHelpers.js").ToString())
    @MvcHtmlString.Create(Script("kyt.popupCrud.js").ToString())
    @MvcHtmlString.Create(Script("kyt.employeeDashboard.js").ToString())
}

@section HeaderJavascript{
    var addUrl=@MvcHtmlString.Create(JsonUtil.ToJson(Model.AddEditUrl));
    var successFunction = @MvcHtmlString.Create(JsonUtil.ToJson(Model.SaveJSSuccssCallback));
    var pendingGridDef=  @MvcHtmlString.Create(JsonUtil.ToJson(Model.ListDefinition))
    var completeGridDef=  @MvcHtmlString.Create(JsonUtil.ToJson(Model.CompletedListDefinition))
    var pendingGridContainerMetaData = kyt.popupMetaData.metaData(addUrl ,"#puErrorMessages",successFunction);
    var completeGridContainerMetaData = kyt.popupMetaData.metaData(null ,"#puErrorMessages",successFunction);

    $(document).ready(function() {
        kyt.employeeDashboard.controller.init();
        $("#completeGridContainer").AsGrid(completeGridDef,{multiselect:false,pager:"completedPager"});
        $("#pendingGridContainer").AsGrid(pendingGridDef,{multiselect:false,pager:"pendingPager"});
        $("#addNew").click(function(){kyt.popupCrud.controller.itmeCRU(null,pendingGridContainerMetaData)});
        
    });
}

    <div class="KYT_DashInfo">
        <div class="KYT_section_header" >
            @MvcHtmlString.Create(WebLocalizationKeys.EMPLOYEE_INFORMATION.ToString())
        </div>
        <div class="grid_5">
            @MvcHtmlString.Create(Html.HiddenFor(x => x.AddEditUrl).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Employee.EmployeeId).AddClassToLabel("KYT_Label").AddClassToInput("KYT_Input").ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Employee.FirstName).AddClassToLabel("KYT_Label").AddClassToInput("KYT_Input").ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Employee.LastName).AddClassToLabel("KYT_Label").AddClassToInput("KYT_Input").ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Employee.EmployeeType).AddClassToLabel("KYT_Label").AddClassToInput("KYT_Input").ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Employee.EmergencyContact).AddClassToLabel("KYT_Label").AddClassToInput("KYT_Input").ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Employee.EmergencyContactPhone).AddClassToLabel("KYT_Label").AddClassToInput("KYT_Input").ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Employee.Email).AddClassToLabel("KYT_Label").AddClassToInput("KYT_Input").ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Employee.PhoneMobile).AddClassToLabel("KYT_Label").AddClassToInput("KYT_Input").ToString())

         </div>

    <div class="grid_5">
        @{if (Model.Employee.ImageUrl.IsNotEmpty())
            {
                @MvcHtmlString.Create(Html.ViewFor(x => x.Employee.ImageUrl).HideLabel().AddClassToInput("KYT_dashboardImage").ToString());
            }
        }
        @MvcHtmlString.Create(Html.ViewFor(x => x.Employee.Address1).AddClassToLabel("KYT_Label").AddClassToInput("KYT_Input").ToString())
        @MvcHtmlString.Create(Html.ViewFor(x => x.Employee.Address2).AddClassToLabel("KYT_Label").AddClassToInput("KYT_Input").ToString())
        @MvcHtmlString.Create(Html.ViewFor(x => x.Employee.City).AddClassToLabel("KYT_Label").AddClassToInput("KYT_Input").ToString())
        @MvcHtmlString.Create(Html.ViewFor(x => x.Employee.State).AddClassToLabel("KYT_Label").AddClassToInput("KYT_Input").ToString())
        @MvcHtmlString.Create(Html.ViewFor(x => x.Employee.ZipCode).AddClassToLabel("KYT_Label").AddClassToInput("KYT_Input").ToString())
        @MvcHtmlString.Create(Html.ViewFor(x => x.Employee.Notes).AddClassToLabel("KYT_Label").AddClassToInput("KYT_Input").ToString())
    </div>
         <div class="grid_10_KYT">
         </div>
     <div class="grid_5b">
        @MvcHtmlString.Create(StyledButtonFor("addNew", WebLocalizationKeys.NEW_TASK).ToString())
        @MvcHtmlString.Create(StyledButtonFor("print", WebLocalizationKeys.PRINT).AddClass("KYT_float_right").ToString())
        <table id="pendingGridContainer" class="scroll"></table>
        <div id="pendingPager" class="scroll" style="text-align:center;"></div>
    </div>

   
    <div class="grid_4 KYT_AddNew_space">
        @MvcHtmlString.Create(StyledButtonFor("print", WebLocalizationKeys.PRINT).AddClass("KYT_float_right").ToString())
        <table id="completeGridContainer" class="scroll"></table>
        <div id="completedPager" class="scroll" style="text-align:center;"></div>
    </div>

<div id="dialogHolder"></div>     

 </div>
