@model KnowYourTurf.Web.Models.EmployeeDashboardViewModel
@using KnowYourTurf.Core;
@using KnowYourTurf.Core.Html.Expressions
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI
@using HtmlTags
@using KnowYourTurf.Web.Controllers


@{ Layout = "~/Views/Shared/_EmptyLayout.cshtml"; }


@section HeaderJavascript{
    var pendingTaskaddUpdateUrl = @MvcHtmlString.Create(JsonUtil.ToJson(Model.AddUpdateUrl));
    var pendingGridDef=  @MvcHtmlString.Create(JsonUtil.ToJson(Model.GridDefinition))
    var completeGridDef=  @MvcHtmlString.Create(JsonUtil.ToJson(Model.CompletedListDefinition))
     var availableRoles = @MvcHtmlString.Create(JsonUtil.ToJson(Model.AvailableItems)) ;
    var selectedRoles = @MvcHtmlString.Create(JsonUtil.ToJson(Model.SelectedItems)) ;
    var rolesOptions = {
        availableItems: availableRoles,
        selectedItems: selectedRoles,
        inputSelector:"#RolesInput",
        name:"Roles"
    };
    extraFormOptions.rolesOptions = rolesOptions;
    $(document).ready(function() {
        edcOptions = {
            pendingTaskaddUpdateUrl:pendingTaskaddUpdateUrl,
            pendingGridDef:pendingGridDef,
            completeGridDef:completeGridDef,
            rolesOptions:rolesOptions,
            employeeListUrl:'@Model.EmployeeListUrl',
            deleteMultipleUrl:'@Model.DeleteMultipleUrl'
        }
        new kyt.EmployeeDashboardController(edcOptions);
    });
}

@MvcHtmlString.Create(FormFor<EmployeeController>(x => x.Save(null)).Class("CRUD").ElementId("CRUDForm").ToString())
    @MvcHtmlString.Create(Html.HiddenFor(x => x.Item.EntityId).ToString())
    @MvcHtmlString.Create(Html.HiddenFor(x => x.AddUpdateUrl).ToString())
    <div class="col left">
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.EmployeeId).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.FirstName).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.LastName).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.EmergencyContact).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.EmergencyContactPhone).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.UserLoginInfo.Password).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.Email).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.PhoneMobile).ToHtmlTag()
        </div>
    </div>
    <div class="col left">
     @{if (Model.Item.ImageUrl.IsNotEmpty())
       {
            <div class="fieldRow">
                @Html.ViewFor(x => x.Item.ImageUrl).HideLabel().AddClassToInput("KYT_dashboardImage").ToHtmlTag()
            </div>
       }
        }
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.Address1).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.Address2).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.City).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.State).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.ZipCode).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.UserLoginInfo.Status).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.Notes).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.RolesInput).InputId("RolesInput").HideInput().RootId("rolesInputRoot").LabelDisplay(WebLocalizationKeys.USER_ROLES).ToHtmlTag()
@*            OperationName("/KYTAdmin").ToHtmlTag()*@
        </div>
        <div class="fieldRow">
            <div id="newImage">
                <p><input type="file" id="fileUpload" name="fileUpload" size="23"/></p><br />
            </div>
        </div>
    </div>


@EndForm()
<div class="col full clear"></div>
<div class="col left">
    @StandardButtonFor("save", WebLocalizationKeys.SAVE).AddClass("save").ToHtmlTag()
    @StandardButtonFor("cancel", WebLocalizationKeys.CANCEL).AddClass("cancel").ToHtmlTag()
</div>
<div class="col full clear"><hr/></div>

<div class="col left clear">
        <div class="fieldRow">
        <div class="gridHeader">@WebLocalizationKeys.PENDING_TASKS</div>
            <div id="pendingTaskGridContainer" class="grid_5b">
                <div class="content-header">
                    <input class="search" /> 
                    <button class="delete" title="@WebLocalizationKeys.REMOVE"></button>
                    <button id="new" class="new" title="@WebLocalizationKeys.NEW"></button>
                </div>
                <div id="contentArea" class="content-inner">
                    <div id="validation-container-wrapper">
                        <div id="errorMessagesGrid" class="kyt_ErrorMessages errorMessages"><ul></ul></div>
                    </div>
                    <table id="gridContainer_pt" class="scroll"></table>
                    <div id="pager" class="scroll" style="text-align:center;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col right ">
        <div class="fieldRow">
            <div class="gridHeader">@WebLocalizationKeys.COMPLETED_TASKS</div>
                   <div id="completeTaskGridContainer" class="grid_4 KYT_AddNew_space">
                <div class="content-header">
                    <input class="search" /> 
                </div>
                <div id="contentArea" class="content-inner">
                    <div id="validation-container-wrapper">
                        <div id="errorMessagesGrid" class="kyt_ErrorMessages errorMessages"><ul></ul></div>
                    </div>
                    <table id="gridContainer_ct" class="scroll"></table>
                    <div id="pager" class="scroll" style="text-align:center;"></div>
                </div>
            </div>
        </div>
    </div>
