@model AdminViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web.Models

@{
    Layout = "";
}
        <div class="KYT_section_header" >
            @MvcHtmlString.Create(WebLocalizationKeys.EMPLOYEE_INFORMATION.ToString())
        </div>
        @MvcHtmlString.Create(Html.HiddenFor(x => x.Administrator.EntityId, new { @class = "copyEntityId" }).ToString())
            @MvcHtmlString.Create(Html.HiddenFor(x => x.AddEditUrl).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Administrator.AdminId).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Administrator.FirstName).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Administrator.LastName).ToString())
            
            @MvcHtmlString.Create(Html.ViewFor(x => x.Administrator.Email).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Administrator.PhoneMobile).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Administrator.Address1).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Administrator.Address2).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Administrator.City).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Administrator.State).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Administrator.ZipCode).ToString())
            @MvcHtmlString.Create(Html.ViewFor(x => x.Administrator.Notes).ToString())

