@model DocumentViewModel
@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web
@using KnowYourTurf.Web.Controllers
@using KnowYourTurf.Core.Html.Expressions
@{
    Layout = Model.Popup ? "~/Views/Shared/_popupLayout.cshtml" : "~/Views/Shared/_FormLayout.cshtml";
}
<script>
    extraFormOptions.title = '@Model.__Title';
</script>


@MvcHtmlString.Create(FormFor<DocumentController>(x=>x.Save(null)).Class("CRUD").ElementId("CRUDForm").ToString())
    @MvcHtmlString.Create(Html.HiddenFor(x => x.Item.EntityId).ToString())
        <div class="col left">
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.Name).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.Description).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.DocumentCategory).LabelDisplay(WebLocalizationKeys.DOCUMENT_CATEGORY).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @if (Model.Item.EntityId > 0)
            {
                @Html.ViewFor(x => x.Item.FileUrl).AddDisplayNameForHref(Model.Item.Name).LabelDisplay(WebLocalizationKeys.VIEW_FILE).ToHtmlTag()
            }
            else
            {
                <p><input type="file" id="fileUpload" name="fileUpload" size="23"/></p><br />
            }
        </div>
    </div>
@EndForm()

