@model DocumentViewModel
@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web
@using KnowYourTurf.Web.Controllers
@using KnowYourTurf.Core.Html.Expressions
@{
    Layout = "~/Views/Shared/_popupLayout.cshtml";
}

    <div id="puErrorMessages" class="puErrorMessages KYT_errorMessages" ><ul></ul></div>   

    @MvcHtmlString.Create(FormFor<DocumentController>(x=>x.Save(null)).Class("CRUD").ElementId("CRUDForm").ToString())
        @MvcHtmlString.Create(Html.HiddenFor(x => x.Document.EntityId).ToString())
        @MvcHtmlString.Create(Html.SubmissionFor(x => x.Document.Name).ToString())
        @MvcHtmlString.Create(Html.SubmissionFor(x => x.Document.Description).ToString())
        @MvcHtmlString.Create(Html.SubmissionFor(x => x.Document.DocumentCategory).LabelDisplay(WebLocalizationKeys.DOCUMENT_CATEGORY).ToString())
        @if (Model.Document.EntityId > 0)
        {
            @MvcHtmlString.Create(Html.ViewFor(x => x.Document.FileUrl).AddDisplayNameForHref(Model.Document.Name).LabelDisplay(WebLocalizationKeys.VIEW_FILE).ToString())
        }
        else
        {
                <p><input type="file" id="fileUpload" name="fileUpload" size="23"/></p><br />
        }
    @MvcHtmlString.Create(EndForm())

