@using KnowYourTurf.Core.Html.FubuUI
@model KnowYourTurf.Web.Controllers.TestModel

@{
    Layout = "";
}
<html>
<head>
    @Script("jqueryPlugins/jquery-1.7.1.js").ToHtmlTag()
    @Script("externalHelpers/underscore.js").ToHtmlTag()
    @Script("externalHelpers/backbone.js").ToHtmlTag()    
    @Script("KYT/CC.ModelBinding/CC.NotificationService.js").ToHtmlTag()
    @Script("KYT/CC.ModelBinding/CC.ValidationRules.js").ToHtmlTag()
    @Script("KYT/CC.ModelBinding/CC.ValidationRunner.js").ToHtmlTag()
    @Script("KYT/CC.ModelBinding/CC.Models.js").ToHtmlTag()
    @Script("KYT/CC.ModelBinding/CC.Elements.js").ToHtmlTag()
    @Script("KYT/CC.ModelBinding/CC.ModelService.js").ToHtmlTag()
 <script type="text/javascript">
     $(function () {

         var sampleJson = {
             "Textbox_Item_Name": {
                 "type": "string",
                 "name": "Item.Name",
                 "value": "Raif",
                 "validation": {
                     "required": true
                 }
             },
             "Textbox_Item_Age": {
                 "type": "int",
                 "name": "Item.Age",
                 "value": "32",
                 "validation": {
                     "required": true,
                     "number": true
                 }
             }
         };
         var modelService = CC.modelService;
         var model = modelService.getModels(sampleJson, $("#container"));
         $.each(model.collection, function(i, item) {
             item.init();
         });
     });

</script>
    </head>

<body >

    <div id="container">
        @Html.SubmissionFor(x => x.Item.Name).ToHtmlTag()
        @Html.SubmissionFor(x => x.Item.Age).ToHtmlTag()
    </div>
</body>
</html>
