@model KnowYourTurf.Web.Models.VendorContact.VendorContactViewModel
@using CC.Core.Html.CCUI
@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
        <div class="row">
            @Html.SubmissionFor(x => x.FirstName).Size("5").ToHtmlTag()
            @Html.SubmissionFor(x => x.LastName).Size("5").ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.Email).Size("5").ToHtmlTag()
            @Html.SubmissionFor(x => x.Status).Size("5").ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.Phone).Size("5").ToHtmlTag()
            @Html.SubmissionFor(x => x.Fax).Size("5").ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.Address1).Size("5").ToHtmlTag()
            @Html.SubmissionFor(x => x.Address2).Size("5").ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.City).Size("5").ToHtmlTag()
           @Html.SubmissionFor(x => x.State).Size("2").ToHtmlTag()
            @Html.SubmissionFor(x => x.ZipCode).Size("3").ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.Notes).Size("10").ToHtmlTag()
        </div>