@model KnowYourTurf.Web.Models.PurchaseOrderLineItemViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web.Controllers
@using KnowYourTurf.Core.Html.Expressions
@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

        <div class="KYT_section_header" >
            @MvcHtmlString.Create(WebLocalizationKeys.PURCHASE_ORDER_LIST_ITEM_INFORMATION.ToString())
        </div>
        

            @MvcHtmlString.Create(FormFor<PurchaseOrderController>(x=>x.SaveItem(null)).Class("CRUD").ElementId("CRUDForm").ToString())
            <input type="hidden" id="ParentId" name="ParentId" value="@Model.Item.PurchaseOrder.EntityId"/>
            <input type="hidden" id="RootId" name="RootId" value="@Model.Item.PurchaseOrder.Vendor.EntityId"/>
            @MvcHtmlString.Create(Html.HiddenFor(x => x.Item.Product.EntityId).ToString())
    <div class="col left">
        <div class="fieldRow">
            @Html.ViewFor(x => x.Item.Product.Name).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.Item.Product.Description).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.QuantityOrdered).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.SizeOfUnit).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.UnitType).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.Price).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.Item.SubTotal).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.Item.Tax).ToHtmlTag()
        </div>
    </div>
            @EndForm()

