@model KnowYourTurf.Web.Models.POListViewModel
@using CC.Core.Html.CCUI
@using KnowYourTurf.Web


@{ Layout = "~/Views/Shared/_EmptyLayout.cshtml"; }

        <div class="row">
        @Html.ViewFor(x => x.EntityId).LabelDisplay(WebLocalizationKeys.PO_NUMBER).RootId("viewPOID").ToHtmlTag()
        </div>
        <div class="row">
        @Html.ViewFor(x => x.VendorCompany).RootId("viewFieldVendor").ToHtmlTag()
        </div>
        <div class="row">
        @Html.SubmissionFor(x => x.VendorEntityId).InputId("FieldVendor").RootId("editFieldVendor").ToHtmlTag()
        </div>

<div class="row blank"/>
        <div class="row">
            <div id="productGridArea" class="span10"></div>
        </div>

<div class="row blank"/>
        <div class="row">
            <div id="poliGridArea" class="span10"></div>
        </div>
        

    <div class="footer">
        @StandardButtonFor("commit", WebLocalizationKeys.COMMIT).AddClass("save").ToHtmlTag()
        @StandardButtonFor("return", WebLocalizationKeys.RETURN).AddClass("cancel").ToHtmlTag()
    </div>
