@model AppointmentViewModel
@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web
@using KnowYourTurf.Web.Areas.Schedule.Controllers

@{
    Layout = "~/Views/Shared/_popupLayout.cshtml";
}
        @MvcHtmlString.Create(Html.HiddenFor(x => x.Appointment.EntityId, new { @class = "copyEntityId" }).ToString())
            <input type="hidden" name="Appointment.EntityId" id="EntityId" value="@Model.Appointment.EntityId"/>
            <input type="hidden" name="AddUpdateUrl" id="AddUpdateUrl" value="@Model.AddUpdateUrl"/>
<div class="col left">
    <div class="fieldRow">
        @Html.ViewFor(x => x.Appointment.ScheduledDate).ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.ViewFor(x => x.Appointment.ScheduledDate).ToHtmlTag()
    </div>
    <div class="fieldRow">    @Html.ViewFor(x => x.Appointment.ScheduledEndTime).ToHtmlTag()
        @Html.ViewFor(x => x.Appointment.Location.Name).ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.ViewFor(x => x.Appointment.Notes).ToHtmlTag()
    </div>
</div>

