@model KnowYourTurf.Web.Models.PurchaseOrderLineItemViewModel
@using CC.Core.Html.CCUI
@{
    Layout = "~/Views/Shared/_popupLayout.cshtml";
}

        <div class="row">
            @Html.ViewFor(x => x.ProductName).Size("5").ToHtmlTag()
        </div>
        <div class="row">
            @Html.ViewFor(x => x.ProductDescription).Size("10").ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.QuantityOrdered).Size("5").ToHtmlTag()
            @Html.SubmissionFor(x => x.SizeOfUnit).Size("5").ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.UnitType).Size("5").ToHtmlTag()
            @Html.SubmissionFor(x => x.Price).Size("5").ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.Taxable).Size("5").ToHtmlTag()
            @Html.ViewFor(x => x.SubTotal).Size("5").ToHtmlTag()
        </div>
        <div class="row">
            @Html.ViewFor(x => x.Tax).Size("5").ToHtmlTag()
        </div>


