@model KnowYourTurf.Web.Models.PurchaseOrderLineItemViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web.Controllers
@using KnowYourTurf.Core.Html.Expressions
@{
    Layout = "~/Views/Shared/_popupLayout.cshtml";
}

            @MvcHtmlString.Create(FormFor<PurchaseOrderLineItemController>(x=>x.Save(null)).Class("CRUD").ElementId("CRUDForm").ToString())
            @MvcHtmlString.Create(Html.HiddenFor(x => x.PurchaseOrderLineItem.EntityId).ToString())
            <input type="hidden" id="ParentId" name="ParentId" value="@Model.ParentId"/>
    <div class="col left">
        <div class="fieldRow">
            @Html.ViewFor(x => x.PurchaseOrderLineItem.Product.Name).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.PurchaseOrderLineItem.Product.Description).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.PurchaseOrderLineItem.QuantityOrdered).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.PurchaseOrderLineItem.SizeOfUnit).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.PurchaseOrderLineItem.UnitType).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.PurchaseOrderLineItem.Price).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.PurchaseOrderLineItem.Taxable).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.PurchaseOrderLineItem.SubTotal).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.PurchaseOrderLineItem.Tax).ToHtmlTag()
        </div>
    </div>

            @EndForm()

