@model KnowYourTurf.Web.Models.EmployeeViewModel
@using HtmlTags
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web.Controllers
@using KnowYourTurf.Core.Html.Expressions

@{
    Layout = "~/Views/Shared/_popupLayout.cshtml";
}
<script>
    var availableRoles = @MvcHtmlString.Create(JsonUtil.ToJson(Model.AvailableRoles)) ;
    var selectedRoles = @MvcHtmlString.Create(JsonUtil.ToJson(Model.SelectedRoles)) ;
    
    $(document).ready(function () {
        if ('@Model.Employee.ImageUrl') {
            $("#showImage").show();
            $("#newImage").hide();
        } else {
            $("#showImage").hide();
            $("#newImage").show();
        }
        $("#deleteImage").click(function () {
            $("#showImage").hide();
            $("#newImage").show();
            $("#DeleteImage").val(true);
        });
        $("#UserRole").asSelectboxPicker();
    });
</script>
        
        <div id="puErrorMessages" class="puErrorMessages KYT_errorMessages" ><ul></ul></div>   

            @MvcHtmlString.Create(FormFor<EmployeeController>(x=>x.Save(null)).Class("CRUD").ElementId("CRUDForm").ToString())
            @MvcHtmlString.Create(Html.HiddenFor(x => x.Employee.EntityId).ToString())
            @MvcHtmlString.Create(Html.HiddenFor(x => x.DeleteImage).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Employee.EmployeeId).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Employee.FirstName).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Employee.LastName).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Employee.EmployeeType).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Employee.EmergencyContact).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Employee.EmergencyContactPhone).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Employee.Password).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Employee.Email).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Employee.PhoneMobile).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Employee.Address1).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Employee.Address2).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Employee.City).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Employee.State).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Employee.ZipCode).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Employee.Status).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.Employee.Notes).ToString())
            @MvcHtmlString.Create(Html.SubmissionFor(x => x.RolesInput)
                                                            .InputId("RolesInput")
                                                            .HideInput()
                                                            .LabelDisplay(WebLocalizationKeys.USER_ROLES)
                                                                     .OperationName("/KYTAdmin")
                                                            .ToString())
             
             <div id="showImage" >
                @MvcHtmlString.Create(Html.ViewFor(x => x.Employee.ImageUrl).HideLabel().AddClassToInput("KYT_addEditImageSmall").ToString())
                @MvcHtmlString.Create(StyledButtonFor("deleteImage", WebLocalizationKeys.DELETE).ToString())
            </div>
            <div id="newImage">
                <p><input type="file" id="fileUpload" name="fileUpload" size="23"/></p><br />
            </div>
            @MvcHtmlString.Create(EndForm())

