@model UserViewModel
@using HtmlTags
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI
@using KnowYourTurf.Web.Controllers
@using KnowYourTurf.Core.Html.Expressions

@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
@section HeaderJavascript{
    var availableRoles = @MvcHtmlString.Create(JsonUtil.ToJson(Model.AvailableItems)) ;
    var selectedRoles = @MvcHtmlString.Create(JsonUtil.ToJson(Model.SelectedItems)) ;
    var rolesOptions = {
        availableItems: availableRoles,
        selectedItems: selectedRoles,
        inputSelector:"#RolesInput",
        name:"Roles"
    };
    extraFormOptions.rolesOptions = rolesOptions;
    $(document).ready(function () {
       
    });
}
        

@MvcHtmlString.Create(FormFor<EmployeeController>(x=>x.Save(null)).Class("CRUD").ElementId("CRUDForm").ToString())
@MvcHtmlString.Create(Html.HiddenFor(x => x.Item.EntityId).ToString())
@MvcHtmlString.Create(Html.HiddenFor(x => x.DeleteImage).ToString())
    <div class="col left">
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.EmployeeId).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.FirstName).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.LastName).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.EmergencyContact).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.EmergencyContactPhone).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.UserLoginInfo.Password).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.Email).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.PhoneMobile).ToHtmlTag()
        </div>
    </div>
    <div class="col left">
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.Address1).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.Address2).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.City).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.State).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.ZipCode).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.UserLoginInfo.Status).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.Notes).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.RolesInput).InputId("RolesInput").HideInput().RootId("rolesInputRoot").LabelDisplay(WebLocalizationKeys.USER_ROLES).OperationName("/UserRoles").ToHtmlTag()
        </div>
        <div class="fieldRow">
            <div id="newImage">
                <p><input type="file" id="fileUpload" name="fileUpload" size="23"/></p><br />
            </div>
        </div>
    </div>
@EndForm()

